{% extends 'base.html' %}
{% load static %}
{% block mytitle %}
	<!-- Inner Page Breadcrumb -->
	<section class="inner_page_breadcrumb">
		<div class="container">
			<div class="row">
				<div class="col-xl-6 offset-xl-3 text-center">
					<div class="breadcrumb_content">
						<h4 class="breadcrumb_title">Events</h4>
						<ol class="breadcrumb">
						    <li class="breadcrumb-item"><a href="#">Home</a></li>
						    <li class="breadcrumb-item active" aria-current="page">Events</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock  %}
{% block body %}

	<!-- Main Blog Post Content -->

	

	<section class="blog_post_container">
		<div class="container">
			<div class="row">
				{% for data in data %}
				<div class="col-xl-12">
					<div class="main_blog_post_content">
						<div class="row event_lists p0">
							<div class="col-xl-5 pr15-xl pr0">
								<div class="blog_grid_post event_lists mb35">
									<div class="thumb">
										<img class="img-fluid w100" src="/upload/{{data.eventimg}}" alt="el1.jpg">
										<div class="post_date"><h4 style="color:#FFFFFF;">{{data.eventenddate.date}}</h4> <span></span></div>
									</div>
								</div>
							</div>
					
								<div class="col-xl-7 pl15-xl pl0">
								<div class="blog_grid_post style2 event_lists mb35">
									<div class="details">
										<a href="/event/eventinfo/{{data.eventid}}"><h3>{{data.eventtitle}}</h3></a>
										<p>{{data.eventdesc | truncatechars:150}}...</p>
										<ul class="mb0">
											<li><a href="#"><span class="flaticon-appointment"></span> Date: {{data.eventstartdate.date}} -{{data.eventenddate.date}} </a></li>
											<li><a href="#"><span class="flaticon-clock"></span>Time: {{data.eventstartdate.time}}:{{data.eventenddate.time}}</a></li>
											<li><a href="#"><span class="flaticon-placeholder"></span>Address: {{data.eventaddress}}</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
										{% endfor %}
						<div class="row">
							<div class="col-lg-12">
								<div class="mbp_pagination mt20">
									<ul class="page_navigation">
									    <li class="page-item disabled">
									    	<a class="page-link" href="#" tabindex="-1" aria-disabled="true"> <span class="flaticon-left-arrow"></span> Prev</a>
									    </li>
									    <li class="page-item"><a class="page-link" href="#">1</a></li>
									    <li class="page-item active" aria-current="page">
									    	<a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
									    </li>
									    <li class="page-item"><a class="page-link" href="#">3</a></li>
									    <li class="page-item"><a class="page-link" href="#">...</a></li>
									    <li class="page-item"><a class="page-link" href="#">14</a></li>
									    <li class="page-item">
									    	<a class="page-link" href="#">Next <span class="flaticon-right-arrow-1"></span></a>
									    </li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			

			</div>
		</div>
	</section>
{% endblock  %}