{% load static %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- css file -->
    <link rel="stylesheet" href="{% static '' %}faculty/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '' %}faculty/css/style.css">
    <link rel="stylesheet" href="{% static '' %}faculty/css/dashbord_navitaion.css">
    <!-- Responsive stylesheet -->
    <link rel="stylesheet" href="{% static '' %}faculty/css/responsive.css">
    <link rel="stylesheet" href="{% static '' %}faculty/css/jquery-ui.min.css">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/js/toastr.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/1.3.1/css/toastr.css" rel="stylesheet" />
    <!-- Datatable -->
    <!-- <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.min.css"> -->
    <!-- Title -->
    <title>DLS</title>
    <!-- Favicon -->
    <link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
    <link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" />
</head>
{% include 'student/header.html' %} {% block body %} {% endblock %}

<!-- Wrapper End -->
<a class="scrollToHome" href="#"><i class="flaticon-up-arrow-1"></i></a>
<script data-cfasync="false" src="{% static ''%}../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/jquery-3.3.1.js"></script>

<script type="text/javascript" src="{% static '' %}faculty/js/jquery-migrate-3.0.0.min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/popper.min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/jquery.mmenu.all.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/ace-responsive-menu.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/isotop.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/snackbar.min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/simplebar.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/parallax.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/scrollto.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/jquery-scrolltofixed-min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/jquery.counterup.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/wow.min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/progressbar.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/slider.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/timepicker.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static '' %}faculty/js/jquery.form.js"></script>
{% block script %} {% endblock %}
<!-- Custom script for all pages -->


<script type="text/javascript" src="{% static '' %}faculty/js/script.js"></script>
<!-- meeting data -->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="meetingmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Class Invitation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="classinfo">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a id="join" href="#" class="btn btn-primary">join</a>
      </div>
    </div>
  </div>
</div>
<script src="https://js.pusher.com/6.0/pusher.min.js"></script>
<script>
	
	var pusher = new Pusher('088b51ea5617a50f8ad0', {
		cluster: 'ap2'
	  });

</script>
<script>
  
// pusher app setting
var channel = pusher.subscribe('chat{{request.session.userid}}'); // recevier
let x=0;
channel.bind('myevent', function(data) {
  $('#meetingmodal').modal('show'); 
   $('#classinfo').html(`${data['instructor']} ${data['course']} class is now going to start click join`)
   $('#join').attr('href',data['zoomlink'])
  /* $('#join').click(function(){
    localStorage.setItem("mid", data['mid']);
    localStorage.setItem("password", data['password']);
      $.ajax({
        url:'{% url 'studentmeeting' %}',
        type:'GET',
        success: function(data){
          let alldata=JSON.parse(data)
          localStorage.setItem("fname",alldata.fname);
          localStorage.setItem("lname", alldata.lname);
          localStorage.setItem("role", alldata.role);
        
         window.location.href="{% url 'joinmeetingstudent' %}";
 
        }
      })
     
      // windows.location.href="{% url 'joinmeetingstudent' %}"; 

   })
   */
    
  });
 

Pusher.logToConsole = true;

</script>
<!-- /meeting data -->
</body>

</html>