{% extends 'student/vbase.html' %}
{% load static %}
{% block body %}

	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">VLE Faculty Dashboard</h4>
							
							</nav>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
							<div class="ff_one">
								<a href="myclass">
									<div class="icon"><span class="flaticon-online-learning"></span></div>
								<div class="detais">
									<p> Courses </p>
								</div>
								</a>
							</div>
						</div>
						
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
							<div class="ff_one style3">
								<a href="mynotification">
								<div class="icon"><span class="flaticon-alarm"></span></div>
								<div class="detais">
									<p>Notifications</p>
								
								</div>
							</a>
							</div>
						</div>
						<div class="col-sm-6 col-md-6 col-lg-6 col-xl-3">
							<div class="ff_one style2">
								<a href="mynotification.php">
								<div class="icon"><span class="flaticon-speech-bubble"></span></div>
								<div class="detais">
									<p>Live Video</p>
								
								</div>
							</a>
							</div>
						</div>
						<div class="col-xl-8">
							<div class="application_statics">
								<h4>Your Profile Views</h4>
								<div class="c_container"></div>
							</div>
						</div>
						<div class="col-xl-4">
							<div class="recent_job_activity">
								<h4 class="title">Notifications</h4>
								<div class="grid">
									<ul>
										<li><div class="title">Status Update</div></li>
										<li><p>This is an automated server response message. All systems are online.</p></li>
									</ul>
								</div>
								<div class="grid">
									<ul>
										<li><div class="title">Status Update</div></li>
										<li><p>This is an automated server response message. All systems are online.</p></li>
									</ul>
								</div>
								<div class="grid">
									<ul>
										<li><div class="title">Status Update</div></li>
										<li><p>This is an automated server response message. All systems are online.</p></li>
									</ul>
								</div>
								<div class="grid">
									<ul>
										<li><div class="title">Status Update</div></li>
										<li><p>This is an automated server response message. All systems are online.</p></li>
									</ul>
								</div>
								<div class="grid mb0">
									<ul class="pb0 mb0 bb_none">
										<li><div class="title">Status Update</div></li>
										<li><p>This is an automated server response message. All systems are online.</p></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt50 mb50">
						<div class="col-lg-6 offset-lg-3">
							<div class="copyright-widget text-center">
								<p class="color-black2">Copyright Hnh Tech Solutions © 2020. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock  %}
<!-- Wrapper End -->