{% extends 'student/vbase.html' %}
{% load static %}
{% block body %}
<style type="text/css">
	.shop_grid {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(237, 239, 247);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 266px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.shop_grid .details .price {
    font-size: 18px;
    font-family: "Nunito";
    color: rgb(199, 85, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.shop_grid .cart_bag {
    border-radius: 50%;
    background-color: rgb(255, 16, 83);
    height: 50px;
     margin-top: 0px; 
    opacity: 0;
    text-align: center;
    width: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

  .tdp {
        background: #8d35b4;
        color: white;
        font-weight: bold;
    }
</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Online Quiz</h4>
							 </nav>
							 <ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item active" aria-current="page">
							    		<a href="myclass" class="btn btn-primary"  data-toggle="tooltip" data-placement="left" title="Back to Class Room" data-original-title="Left">
							    			Back To Class
							    		</a>
							    	</li>
								</ol>
						</div>
                        <div class="col-lg-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>

                                    <th class="tdp">Topic</th>
                                    <th class="tdp">Course</th>
                                    <th class="tdp">Department</th>
                                    <th class="tdp">Teacher</th>
                                    <th class="tdp">Join Quiz</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for data in data %}
                                <tr>

                                    <td>{{data.Title}}</td>
                                    <td>{{data.Course_id}}</td>
                                    <td>{{data.Department_id}}</td>
                                     <td>{{data.Instructor_id}}</td>
                                   
                                
                                     
                                <td>
                                    {% for y in quiz %}
                                       
                                 
                                    {% if data.pk == y  %}
                                      <button class="btn btn-success"  data-toggle="modal" data-target="#showresult" onclick="result({{data.pk}})">Show  Result</button>
                                    {% else %}
                                    <a href="/student/startquiz/{{data.pk}}" target="_blank"><button type="submit" class="btn btn-primary" >Click To Join</button></a>
                                       {% endif %}

                                    {% endfor %}
                                
                                </td>
                                    
                             
                                </tr>
                              
                                {% endfor %}

                         
                            </tbody>
                        </table>
                    </div>
                  
					
					</div>
				</div>
			</div>
		</div>
	</div>
	
<!-- Modal -->
<div class="modal fade" id="showresult" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="resultdata">
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script>
    function result(e){
        $.ajax({
            url:"{% url 'quizresultshow' %}",
            type:'GET',            
            data:{
                qid:e
            },
            success: function(data){
                let alldata= JSON.parse(data);
                let mydata=`
                <table class="table table-borderless">
                                    
                    <tbody>
                      <tr>
                        <td>Total Marks</td>
                        <td>${alldata.totalmarks}</td>
                           </tr>
                      <tr>
                        <td>Total Question</td>
                        <td>${alldata.totalquestion}</td>
                           </tr>
                      <tr>
                        <td>True Answer	</td>
                        <td>${alldata.correct}</td>
                      </tr>
                      <tr>
                        <td>Wrong Answer</td>
                        <td>${alldata.wrong}</td>
                         </tr>
                      <tr class="bg-primary text-light">
                        <th>Score</th>
                        <th>${alldata.score} / ${alldata.totalmarks}</th>
                         </tr>
                    </tbody>
                  </table>
                `;
                $("#resultdata").html(mydata)
            }
        })
    }
</script>
{% endblock script %}