{% extends 'student/vbase.html' %}
{% load static %}
{% block body %}
<style type="text/css">
	.shop_grid {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(237, 239, 247);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 266px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.shop_grid .details .price {
    font-size: 18px;
    font-family: "Nunito";
    color: rgb(199, 85, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.shop_grid .cart_bag {
    border-radius: 50%;
    background-color: rgb(255, 16, 83);
    height: 50px;
     margin-top: 0px; 
    opacity: 0;
    text-align: center;
    width: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

  .tdp {
        background: #8d35b4;
        color: white;
        font-weight: bold;
    }

</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
                        
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Online Quiz</h4>
							 </nav>
							 <ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item active" aria-current="page">
							    		<a href="myclass" class="btn btn-primary"  data-toggle="tooltip" data-placement="left" title="Back to Class Room" data-original-title="Left">
							    			Back To Class
							    		</a>
							    	</li>
								</ol>
						</div>
                   
                            <div class="col-md-8 mx-auto">
                               
                                   <form action='/student/startquiz/{% for q in data|slice:":1" %}{{q.quizid}}{% endfor %}' method="post">
                                    
                                    {% for q in data  %}
                                      
                                  
                                      
                                    <!-- question start -->

                                    <div class="question">
                                    <h1>{{q.question}}</h1>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="radio" class="form-check-input radio-box" name="q{{q.pk}}" value="{{q.a1}}" required>{{q.a1}} </label>
                                      </div>
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="radio" class="form-check-input radio-box" name="q{{q.pk}}" value="{{q.a2}}" required>{{q.a2}} </label>
                                      </div>
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="radio" class="form-check-input radio-box" name="q{{q.pk}}" value="{{q.a3}}" required>{{q.a3}} </label>
                                      </div>
                                      <div class="form-check">
                                        <label class="form-check-label">
                                          <input type="radio" class="form-check-input radio-box" name="q{{q.pk}}" value="{{q.a4}}" required>{{q.a4}} </label>
                                      </div>
                                    </div>
                                    <!-- question end -->
                                    {% endfor %}
                                    <br><br>
                                    {% csrf_token %}
                                    <input class="btn btn-success mx-auto" type="submit" value="Submit" name="Submit">
                                   </form>
                                   
                                </div>
                            </div>
                        
					
					</div>
				</div>
			</div>
		</div>
	</div>
	

{% endblock %}