<?php include_once('superadminheader.php')?>
<style type="text/css">
	.dashboard_main_content .main_content_container {
    padding: 99px 0 0;
}
.cart_page_form.style3 .table_body td {
    padding: 24px 38px;
}
.table-responsive {
    overflow-x: hidden;
}
.tdp
{
    width: 35%;
    background: #8d35b4;
    color: white;
    font-weight: bold;
}
.modal-dialog {
    max-width: 935px;
}
.modal-body .row .col-md-3 .shop_grid{position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(237, 239, 247);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 212px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
</style>
<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Branch</h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="page-dashboard-student.php">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">Branch</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-12">
								<a href="#" data-toggle="modal" data-target="#exampleModalCenter2" class="btn btn-success pull-right"> + Add Branch</a>
							</div>
						<div class="col-lg-12">
							
							<div class="my_course_content_container">
								<div class="my_setting_content">
									<div class="my_setting_content_details">
										<div class="cart_page_form style3">
											<form action="#">
												  <table class="table table-responsive">
												  	<thead>
												  		<tr class="carttable_row">
												  			<th class="cartm_title"></th>
												  			<th class="cartm_title">AC-ID</th>
												  			<th class="cartm_title">Title</th>
												  			<th class="cartm_title">Start Date</th>
												  			<th class="cartm_title">End Date</th>
												  			<th class="cartm_title">Location</th>
												  			<th class="cartm_title">Actions</th>
												  		</tr>
												  	</thead>
												  	<tbody class="table_body">
													    <tr>
													    	<td>
													    		<input type="checkbox" name="">
													    	</td>
													    	<td>1</td>
													    	<td>AI</td>
													    	<td>May 19, 2020, noon</td>
													    	<td>May 11, 2020, 6 a.m</td>
													    	<td>Garden West Karachi</td>
													    	<td><a href="editcalendarmodel.php" class="btn btn-sm btn-success">Edit</a>
													    		<a href="" class="btn btn-sm btn-danger">Delete</a>
													    	</td> 	
													    </tr>
													 
													   
												  	</tbody>
												</table>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>
<!-- Create Branch -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-12">
        		<div class="my_course_content_container">
										<div class="my_setting_content mb30">
											<div class="my_setting_content_header">
												<div class="my_sch_title">
													<h4 class="m0">Branch info</h4>
												</div>
											</div>
											<div class="row my_setting_content_details pb0">
												<div class="col-xl-12">
													<div class="row">
														<div class="col-xl-6">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput1">Branch Name</label>
														    	<input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Enter University Name">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Branch User Name </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
														<div class="col-xl-6">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Branch Password </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Branch Address </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row my_setting_content_details">
												<div class="col-xl-5">
													<div class="my_profile_setting_input form-group">
												    	<label for="formGroupExampleInput1">Status</label>
												    	<input type="text" class="form-control" id="faculty" placeholder="Mention Status">
													</div>
												</div>
												<div class="col-xl-5">
													<div class="my_profile_setting_input form-group">
												    	<label for="formGroupExampleInput1">Picture</label>
												    	<input type="file" class="form-control" id="course" placeholder="Mention Here Skills to Develop">
													</div>
												</div>
												<div class="col-xl-2">
													<label></label>
													<input type="button" id="#add" class=" mt-4 w-50 btn btn-primary text-white" value="Add">
												</div>
												
											</div>
											
										</div>
									</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>

<?php include_once('footer.php')?>