<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- css file -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/dashbord_navitaion.css">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="css/responsive.css">
<link rel="stylesheet" type="text/css" href="chatstyle.css">
<script src="https://use.fontawesome.com/releases/v5.0.13/js/all.js"></script>
<style type="text/css">
	.inbox_user_list {
    background-color: #ffffff;
    border-right: 1px solid #eeeeee;
    display: inline-block;
    padding: 30px 30px 40px;
    width: 100%;
    overflow-y: scroll;
    height: 99vh;
}
.inbox_user_list ul li {
    padding: 15px 0;
    border-bottom: 1px solid;
}
</style>
</head>
<body>
<div>
	<div>
		<div class="container-fluid">
			<div class="main_content_container">
				<div class="row message_container">
					<div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 pr0 pl0">
						<div class="inbox_user_list">
							<div class="iu_heading">
								<div class="candidate_revew_search_box">
									<form class="form-inline my-2 my-lg-0">
										<input class="form-control mr-sm-2" type="search" placeholder="Serach" aria-label="Search">
										<button class="btn my-2 my-sm-0" type="submit"><span class="flaticon-magnifying-glass"></span></button>
									</form>
								</div>
							</div>
							<ul>
								<li class="contact">
									<a href="#">
										<div class="wrap">
											<span class="contact-status online"></span>
											<img class="img-fluid" src="images/team/s1.jpg" alt="s1.jpg">
											<div class="meta">
												<h5 class="name">Vincent Porter</h5>
												<p class="preview">I'm going to office.</p>
											</div>
										</div>
									</a>
								</li>
								<li class="contact">
									<a href="#">
										<div class="wrap">
											<span class="contact-status online"></span>
											<img class="img-fluid" src="images/team/s2.jpg" alt="s2.jpg">
											<div class="meta">
												<h5 class="name">Jacob Brown</h5>
												<p class="preview">You: Where is Alex?</p>
											</div>
										</div>
									</a>
								</li>
								<li class="contact">
									<a href="#">
										<div class="wrap">
											<span class="contact-status online"></span>
											<img class="img-fluid" src="images/team/s3.jpg" alt="s3.jpg">
											<div class="meta">
												<h5 class="name">Harry Taylor</h5>
												<p class="preview">I'm going to office.</p>
											</div>
										</div>
									</a>
								</li>
								<li class="contact">
									<a href="#">
										<div class="wrap">
											<span class="contact-status busy"></span>
											<img class="img-fluid" src="images/team/s4.jpg" alt="s4.jpg">
											<div class="meta">
												<h5 class="name">Sarah Miller</h5>
												<p class="preview">You: okay!</p>
											</div>
										</div>
									</a>
								</li>
								<li class="contact">
									<a href="#">
										<div class="wrap">
											<span class="contact-status away"></span>
											<img class="img-fluid" src="images/team/s5.jpg" alt="s5.jpg">
											<div class="meta">
												<h5 class="name">Joanne Davies</h5>
												<p class="preview">Let’s go!</p>
											</div>
										</div>
									</a>
								</li>
								<li class="contact">
									<a href="#">
										<div class="wrap">
											<span class="contact-status busy"></span>
											<img class="img-fluid" src="images/team/s6.jpg" alt="s6.jpg">
											<div class="meta">
												<h5 class="name">Sam Lee</h5>
												<p class="preview">Awesome!</p>
											</div>
										</div>
									</a>
								</li>
								<li class="contact">
									<a href="#">
										<div class="wrap">
											<span class="contact-status online"></span>
											<img class="img-fluid" src="images/team/s7.jpg" alt="s7.jpg">
											<div class="meta">
												<h5 class="name">Vincent Porter</h5>
												<p class="preview">I'm going to office.</p>
											</div>
										</div>
									</a>
								</li>
								<li class="contact">
									<a href="#">
										<div class="wrap">
											<span class="contact-status online"></span>
											<img class="img-fluid" src="images/team/s8.jpg" alt="s8.jpg">
											<div class="meta">
												<h5 class="name">Jacob Brown</h5>
												<p class="preview">You: Where is Alex?</p>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-8">
						<div class="msger">
							<header class="msger-header">
								<div class="msger-header-title">
									<i class="fas fa-comment-alt"></i> Digital Learning System
								</div>
								<div class="msger-header-options">
									<span><i class="fas fa-cog"></i></span>
								</div>
							</header>

							<main class="msger-chat">
								<div class="msg left-msg">
									<div
									class="msg-img"
									style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)"
									></div>

									<div class="msg-bubble">
										<div class="msg-info">
											<div class="msg-info-name">BOT</div>
											<div class="msg-info-time">12:45</div>
										</div>

										<div class="msg-text">
											Hi, welcome to SimpleChat! Go ahead and send me a message. 😄
										</div>
									</div>
								</div>

								<div class="msg right-msg">
									<div
									class="msg-img"
									style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
									></div>

									<div class="msg-bubble">
										<div class="msg-info">
											<div class="msg-info-name">Bilal</div>
											<div class="msg-info-time">12:46</div>
										</div>

										<div class="msg-text">

										</div>
									</div>
								</div>
							</main>

							<form class="msger-inputarea">
								<input type="text" class="msger-input" placeholder="Enter your message...">
								<button type="submit" class="msger-send-btn">Send</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="chatjs.js"></script>

</body>

</html>