<?php include_once('header.php')?>
<style type="text/css">
	.dashboard_main_content .main_content_container {
    padding: 99px 0 0;
}
.cart_page_form.style3 .table_body td {
    padding: 24px 38px;
}
.table-responsive {
    overflow-x: hidden;
}
.tdp
{
    width: 35%;
    background: #8d35b4;
    color: white;
    font-weight: bold;
}
</style>
<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Registration</h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="page-dashboard-student.php">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">Registration</li>
								</ol>
							</nav>
						</div>
						<div class="col-lg-12">
							<div class="col-lg-7 offset-3">
                    		  <table class="table table-bordered table-hover">
                          <tbody>
                            <tr>
                              <td class="tdp">Name:</td>
                              <td>
                                Student Name
                              </td>
                            </tr>
                            <tr>
                              <td class="tdp">
                                Registration Code:
                              </td>
                              <td>
                                02102102
                              </td>
                            </tr>
                            <tr>
                            	<td class="tdp">
                            		Program:
                            	</td>
                            	<td>
                            		Coursname
                            	</td>
                            </tr>
                          </tbody>
                        </table>       
                   </div>
						</div>
						<div class="col-lg-12">
							<div class="my_course_content_container">
								<div class="my_setting_content">
									<div class="my_setting_content_details">
										<div class="cart_page_form style3">
											<form action="#">
												<table class="table table-responsive">
												  	<thead>
													    <tr class="carttable_row">
													    	<th colspan="12" class="cartm_title">Semester 1</th>
													    </tr>
												  	</thead>
												  </table>
												  <table class="table table-responsive">
												  	<thead>
												  		<tr class="carttable_row">
												  			<th class="cartm_title"></th>
												  			<th class="cartm_title">Code</th>
												  			<th class="cartm_title">Pre<br>Requiste</th>
												  			<th class="cartm_title">Course Name</th>
												  			<th class="cartm_title">Old Course Name</th>
												  			<th class="cartm_title">Grade</th>
												  			<th class="cartm_title">Faculty Name</th>
												  			<th class="cartm_title">Timetable</th>
												  		</tr>
												  	</thead>
												  	<tbody class="table_body">
													    <tr>
													    	
													    	<td>
													    		<i class="fa fa-check"></i>
													    	</td>
													    	<td>HUM11</td>
													    	<td>-</td>
													    	<td>Functional English</td>
													    	<td>Basic English</td>
													    	<td>B+</td>
													    	<td>Afaq Ahmed</td>
													    	<td>Mon-Tue-Fri</td>
													    	
													    </tr>
													 
													   
												  	</tbody>
												</table>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
							<div class="col-lg-12">
							<div class="my_course_content_container">
								<div class="my_setting_content">
									<div class="my_setting_content_details">
										<div class="cart_page_form style3">
											<form action="#">
												<table class="table table-responsive">
												  	<thead>
													    <tr class="carttable_row">
													    	<th colspan="12" class="cartm_title">Semester 2</th>
													    </tr>
												  	</thead>
												  </table>
												  <table class="table table-responsive">
												  	<thead>
												  		<tr class="carttable_row">
												  			<th class="cartm_title"></th>
												  			<th class="cartm_title">Code</th>
												  			<th class="cartm_title">Pre<br>Requiste</th>
												  			<th class="cartm_title">Course Name</th>
												  			<th class="cartm_title">Old Course Name</th>
												  			<th class="cartm_title">Grade</th>
												  			<th class="cartm_title">Faculty Name</th>
												  			<th class="cartm_title">Timetable</th>
												  		</tr>
												  	</thead>
												  	<tbody class="table_body">
													    <tr>
													    	
													    	<td>
													    		<i class="fa fa-check"></i>
													    	</td>
													    	<td>HUM11</td>
													    	<td>-</td>
													    	<td>Functional English</td>
													    	<td>Basic English</td>
													    	<td>B+</td>
													    	<td>Afaq Ahmed</td>
													    	<td>Mon-Tue-Fri</td>
													    	
													    </tr>
													 
													   
												  	</tbody>
												</table>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
</div>

<?php include_once('footer.php')?>