<?php include_once('header.php')?>
<style type="text/css">
	.dashboard_main_content .main_content_container {
    padding: 99px 0 0;
}
.faq_question_widget{
	min-height: 83vh;
}
.okbtn
{
	width: 50%;
    margin-top: 29px;
}
</style>
<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
						<div class="row">
							<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Faculty Evaluation </h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">Faculty Evaluation</li>
								</ol>
							 </nav>
						    </div>
							<div class="col-lg-12">
								<div class="cart_page_form style2">
											<form action="#">
												<table class="table table-responsive">
												  	<tbody class="table_body">
													    <tr>
													    
															<td>
																<label>Select Report</label>
																<select class="form-control">
																	<option value=""> Select Impression Report</option>
																	<option>Abc Report</option>
																	<option>CDE Report</option>
																</select>
															</td>
															<td>
																<label>Select Report Type</label>
																<select class="form-control">
																	<option value=""> Student Evaluation Report </option>
																	<option>Abc Course</option>
																	<option>CDE course</option>
																</select>
															</td>												   
															<td>
																<input type="submit" class="btn btn-primary okbtn" value="Ok" name="">
															</td>	
													    </tr>
													    
												  	</tbody>
												</table>
											</form>
										</div>
							</div>
							 
   								 <div class="col-lg-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Student No</th>
            <th>Student Number</th>
            <th>Student Course</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>24020</td>
            <td>Ahmed Bakhtyar</td>
            <td>Aiy Century Scoore Krain</td>
            <td><input class="btn-primary btn" type="button" value="Send" name=""></td>
          </tr>
          <tr>
            <td>24020</td>
            <td>Ahmed Bakhtyar</td>
            <td>Aiy Century Scoore Krain</td>
            <td><input class="btn-primary btn" type="button" value="Send" name=""></td>
          </tr>
          <tr>
            <td>24020</td>
            <td>Ahmed Bakhtyar</td>
            <td>Aiy Century Scoore Krain</td>
            <td><input class="btn-primary btn" type="button" value="Send" name=""></td>
          </tr>
          <tr>
            <td>24020</td>
            <td>Ahmed Bakhtyar</td>
            <td>Aiy Century Scoore Krain</td>
            <td><input class="btn-primary btn" type="button" value="Send" name=""></td>
          </tr>
          
        </tbody>
      </table>
    							 </div>
 							
						</div>
				</div>
			</div>
</div>

<?php include_once('footer.php')?>