<?php include_once('header.php')?>
<style type="text/css">
	.dashboard_main_content .main_content_container {
    padding: 99px 0 0;
}
.faq_question_widget{
	min-height: 83vh;
}
.okbtn
{
	width: 50%;
    margin-top: 29px;
}
.tdp
{
    background: #8d35b4;
    color: white;
    font-weight: bold;
}
</style>
<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
						<div class="row">
							<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Faculty Evaluation </h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">Faculty Evaluation</li>
								</ol>
							 </nav>
						    </div> 
   								 <div class="col-lg-12">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="tdp"></th>
            <th class="tdp">Course Title</th>
            <th class="tdp">Instructor</th>
            <th class="tdp">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
            	<button class="btn btn-success btn-sm">
            		<i class="fa fa-check"></i>
            	</button>
            </td>
            <td>Aiy Century Scoore Krain</td>
            <td>Ahmed Bakhtyar</td>
            <td><p class="success">Completed</p></td>
          </tr>
          <tr>
            <td>
            	<button class="btn btn-success btn-sm">
            		<i class="fa fa-check"></i>
            	</button>
            </td>
            <td>Aiy Century Scoore Krain</td>
            <td>Ahmed Bakhtyar</td>
            <td><p class="success">Completed</p></td>
          </tr>
          <tr>
            <td>
            	<button class="btn btn-success btn-sm">
            		<i class="fa fa-check"></i>
            	</button>
            </td>
            <td>Aiy Century Scoore Krain</td>
            <td>Ahmed Bakhtyar</td>
            <td><p class="success">Completed</p></td>
          </tr>
          <tr>
            <td>
            	<button class="btn btn-success btn-sm">
            		<i class="fa fa-check"></i>
            	</button>
            </td>
            <td>Aiy Century Scoore Krain</td>
            <td>Ahmed Bakhtyar</td>
            <td><p class="success">Completed</p></td>
          </tr>
          
        </tbody>
      </table>
    							 </div>
 							
						</div>
				</div>
			</div>
</div>

<?php include_once('footer.php')?>