<?php include_once('header.php')?>
<style type="text/css">
	.shop_grid {
		height: 210px;
	}
</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Faculty</h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">faculty</li>
								</ol>
							</nav>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminassignmentmodel.php">
									 <img class="img-fluid" src="images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Assignment Model</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="admincoursevideo.php">
									 <img class="img-fluid" src="images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Course Videos</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="admincoursef.php">
									 <img class="img-fluid" src="images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Courses</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="admindepartment.php">
									 <img class="img-fluid" src="images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Department</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminexamresult.php"> 
									 <img class="img-fluid" src="images/shop/meeting%20appointment.png" alt="3.png">
									 <p><strong>Exam Result</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
								  <a href="adminfacultydevelopment.php">
									<img class="img-fluid" src="images/shop/faculty%20development.png" alt="2.png">
									 <p><strong>Faculty Development</strong></p>
								  </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminfacultyeval.php"> 
									 <img class="img-fluid" src="images/shop/faculty%20development.png" alt="3.png">
									 <p><strong>Faculty Evaluation</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="admininstructor.php">
										<img class="img-fluid" src="images/shop/vle%20icon.png" alt="3.png">
										 <p><strong>Instructor</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminmaterialclass.php"> 
									 <img class="img-fluid" src="images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Material Classes</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminnotificationmodel.php"> 
									 <img class="img-fluid" src="images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Notification Models</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminonlinequiz.php">
									 <img class="img-fluid" src="images/shop/CAC%20Form.png" alt="2.png">
									 <p><strong>Online Quiz</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminqueryadmin.php">
										<img class="img-fluid" src="images/shop/library.png" alt="4.png">
										 <p><strong>Admin Query</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminsemes.php"> 
									 <img class="img-fluid" src="images/shop/evaluation.png" alt="3.png">
									 <p><strong>Semester</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminteacherapplication.php">
									 <img class="img-fluid" src="images/shop/digital%20library.png" alt="6.png">
									 <p><strong>Teacher Application</strong></p>
									</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminteachersyllabus.php"> 
									 <img class="img-fluid" src="images/shop/faculty%20Calender.png" alt="3.png">
									 <p><strong>Teacher Syllabus</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminusersignup.php"> 
									 <img class="img-fluid" src="images/shop/exam%20result.png" alt="3.png">
									 <p><strong>User Signup</strong></p>
									</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminuserstory.php"> 
									 <img class="img-fluid" src="images/shop/attendance.png" alt="3.png">
									 <p><strong>User Stories</strong></p>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="row mt50 mb50">
						<div class="col-lg-6 offset-lg-3">
							<div class="copyright-widget text-center">
								<p class="color-black2">Copyright Hnh tech solution © 2019. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<?php include_once('footer.php')?>