<?php include_once('header.php')?>
<style type="text/css">
	.shop_grid {
		height: 284px;
	}
	.okbtn
{
	width: 50%;
    margin-top: 29px;
}
.tdp
{
    background: #8d35b4;
    color: white;
    font-weight: bold;
}
.cart_page_form.style2 .table_body td {
    width: 34%;
}
label.control-label {
    font-weight: 700;
    color: black;
}
textarea.form-control {
    padding: 44px;
}

</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
						<div class="row">
							<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Food Reservation System </h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">Food Reservation</li>
								</ol>
							 </nav>
						    </div>
						   <div class="col-lg-12">
						   		<form class="form-horizontal">
						   			<div class="form-group row">
						   				<div class="col-lg-6">
						   					<label class="control-label">Date</label>
						   					<input class="form-control" type="date" name="">
						   				</div>
						   				<div class="col-lg-6">
						   					<label class="control-label">Number of Participants</label>
						   					<input class="form-control" type="text">
						   				</div>
						   			</div>
						   			<div class="form-group row">
						   				<div class="col-lg-6">
						   					<label class="control-label">Start Time</label>
						   					<div class="row">
						   						<div class="col-md-6">
						   							<select class="form-control">
						   								<option>Select Hour</option>
						   							</select>
						   						</div>

						   						<div class="col-md-6">
						   							<select class="form-control">
						   								<option>Select Mint</option>
						   							</select>
						   						</div>

						   						
						   					</div>
						   					<br>
						   					<label class="control-label">End Time</label>
						   					<div class="row">
						   						<div class="col-md-6">
						   							<select class="form-control">
						   								<option>Select Hour</option>
						   							</select>
						   						</div>

						   						<div class="col-md-6">
						   							<select class="form-control">
						   								<option>Select Mint</option>
						   							</select>
						   						</div>
						   						
						   						
						   					</div>
						   				</div>
						   				<div class="col-lg-6">
						   					<label class="control-label">
						   						Comments
						   					</label>
						   					<textarea class="form-control"></textarea>
						   				</div>
						   			</div>
						   			<div class="form-group row">
						   				<div class="col-lg-12">
						   					<input type="submit" value="Search" class="btn-primary w-100 btn pull-right" name="">
						   				</div>
						   			</div>
						   		</form>
						   </div>	
							<div class="col-lg-9 offset-md-1">
							<form>
						      <table class="table table-bordered table-hover">
						        <thead>
						          <tr>
						            <th class="tdp">Hi Tea</th>
						            <th  class="tdp"></th>
						            <th  class="tdp">Lunch (Medium Course)</th>
						            <th class="tdp"></th>
						            <th class="tdp">Lunch (Normal Course)</th>
						            <th class="tdp"></th>
						          </tr>
						        </thead>
						        <tbody>
						          <tr>
						            <td>
						            	Biscuits
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control"  name="">
						            </td>
						            <td>
						            	Bar BQ
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control" name="">
						            </td>
						             <td>
						            	Chicken Biryani
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control"  name="">
						            </td>
						          </tr>
						           <tr>
						            <td>
						            	Biscuits
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control"  name="">
						            </td>
						            <td>
						            	Bar BQ
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control" name="">
						            </td>
						             <td>
						            	Chicken Biryani
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control"  name="">
						            </td>
						          </tr>
						           <tr>
						            <td>
						            	Biscuits
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control"  name="">
						            </td>
						            <td>
						            	Bar BQ
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control" name="">
						            </td>
						             <td>
						            	Chicken Biryani
						            </td>
						            <td>
						            	<input type="checkbox" class="form-control"  name="">
						            </td>
						          </tr>
						         </tbody>
						         <tfoot>
						         	<tr>
						         		<td colspan="6">
						         			<input type="Submit" class="btn btn-primary offset-md-5" value="Reserve" name="">
						         		</td>
						         	</tr>
						         </tfoot>
						      </table>
						    </form>
					        </div>	

						</div>
				</div>
			</div>
		</div>
	</div>
<?php include_once('footer.php')?>