<?php include_once('header.php')?>
<style type="text/css">
	.dashboard_main_content .main_content_container {
    padding: 99px 0 0;
}
.faq_question_widget{
	min-height: 83vh;
}
</style>
<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
						<div class="row">
							<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Form and Guideline </h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">form</li>
								</ol>
							</nav>
						</div>
							<div class="col-lg-4 col-xl-4">
						<div class="faq_question_widget">
							<h4 class="title">Applications Form</h4>
							<div class="widget_list">
								<ul class="list_details">
									<li><a href="#">Transcript Form</a></li>
									<li><a href="#">Student Information Form</a></li>
									<li><a href="#">Requistion Form</a></li>
									<li><a href="#">Degree Completion Form</a></li>
									<li><a href="#">Credit Transfer Form</a></li>
									<li><a href="#">Program Transfer Form</a></li>
									<li><a href="#">Campus Transfer Form</a></li>
									<li><a href="#">Evalution Form</a></li>
									<li><a href="#">Coperate Visit Form</a></li>
									<li><a href="#">Permission Form</a></li>
									<li><a href="#">Media Science Form</a></li>
								</ul>
							</div>
						</div>
					</div>
							<div class="col-lg-4 col-xl-4">
						<div class="faq_question_widget">
							<h4 class="title">Thesis Guideline</h4>
							<div class="widget_list">
								<ul class="list_details">
									<li><a href="#">Thesis Guideline Form</a></li>
									
								</ul>
							</div>
						</div>
					</div>
							<div class="col-lg-4 col-xl-4">
						<div class="faq_question_widget">
							<h4 class="title">Placement Forms</h4>
							<div class="widget_list">
								<ul class="list_details">
									<li><a href="#">Guest Registration Form</a></li>
									<li><a href="#">Member Application Form</a></li>
									
								</ul>
							</div>
						</div>
					</div>
						</div>
				</div>
			</div>
</div>

<?php include_once('footer.php')?>