<?php include_once('header.php')?>
<style type="text/css">
	.shop_grid {
		height: 210px;
	}
</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Faculty Information </h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">fic</li>
								</ol>
							</nav>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="semesterschedule.php">
									 <img class="img-fluid" src="images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Semester Schedule</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
								  <a href="">
									<img class="img-fluid" src="images/shop/faculty%20development.png" alt="2.png">
									 <p><strong>Faculty Guideline</strong></p>
								  </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="formguidline.php">
										<img class="img-fluid" src="images/shop/vle%20icon.png" alt="3.png">
										 <p><strong>Form & Guideline</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="library.php">
										<img class="img-fluid" src="images/shop/library.png" alt="4.png">
										 <p><strong>Library Book Search</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="digitallibrary.php">
									 <img class="img-fluid" src="images/shop/digital%20library.png" alt="5.png">
									  <p><strong>Digital Library</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="Phddigitallibrary.php">
									 <img class="img-fluid" src="images/shop/digital%20library.png" alt="6.png">
									 <p><strong>Digital Library (Phd)</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="academiccalendar.php">
									 <img class="img-fluid" src="images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Academic Calendar</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="">
									 <img class="img-fluid" src="images/shop/CAC%20Form.png" alt="2.png">
									 <p><strong>Cac Form</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="facultycalendar.php"> 
									 <img class="img-fluid" src="images/shop/faculty%20Calender.png" alt="3.png">
									 <p><strong>Faculty Calendar</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="examresult.php"> 
									 <img class="img-fluid" src="images/shop/exam%20result.png" alt="3.png">
									 <p><strong>Exam Result</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="facultyevaluation.php"> 
									 <img class="img-fluid" src="images/shop/faculty%20development.png" alt="3.png">
									 <p><strong>Faculty Evaluation</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="attendance.php"> 
									 <img class="img-fluid" src="images/shop/attendance.png" alt="3.png">
									 <p><strong>Attendance</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="userstories.php"> 
									 <img class="img-fluid" src="images/shop/user%20stories.png" alt="3.png">
									 <p><strong>User Stories</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="facultyform.php"> 
									 <img class="img-fluid" src="images/shop/evaluation.png" alt="3.png">
									 <p><strong>Faculty Development Form</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="coursefile.php"> 
									 <img class="img-fluid" src="images/shop/course%20file.png" alt="3.png">
									 <p><strong>Course File</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="roomreservation.php"> 
									 <img class="img-fluid" src="images/shop/reservation.png" alt="3.png">
									 <p><strong>Room Reservation</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="foodreservation.php"> 
									 <img class="img-fluid" src="images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Food Reservation</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="onlinelecture.php"> 
									 <img class="img-fluid" src="images/shop/online%20lectures.png" alt="3.png">
									 <p><strong>Online Lecture</strong></p>
									</a>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="#"> 
									 <img class="img-fluid" src="images/shop/nimination.png" alt="3.png">
									 <p><strong>My Profile</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="facultyattendance.php"> 
									 <img class="img-fluid" src="images/shop/meeting%20appointment.png" alt="3.png">
									 <p><strong>Faculty Attendance</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="fvledashboard.php" target="new"> 
									 <img class="img-fluid" src="images/shop/vle%20icon.png" alt="3.png">
									 <p><strong>VLE</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="email.php"> 
									 <img class="img-fluid" src="images/shop/online%20lectures.png" alt="3.png">
									 <p><strong>Email</strong></p>
									</a>
								</div>
							</div>
						</div>
						
					</div>
					<div class="row mt50 mb50">
						<div class="col-lg-6 offset-lg-3">
							<div class="copyright-widget text-center">
								<p class="color-black2">Copyright Hnh tech solution © 2019. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<?php include_once('footer.php')?>