<?php include_once('header.php')?>
<style type="text/css">
	.shop_grid {
		height: 284px;
	}
	.dashboard_main_content .main_content_container {
    padding: 115px 0 0;
}
</style>
	<!-- Our Dashbord -->
	
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Digital Library PHD</h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">PHD Library</li>
								</ol>
							</nav>
						</div>
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									Following are the URLs/websites from which Iqra University students, faculty and staff members can download research articles, journals and books from within Iqra University.
								</div>
								<div class="card-body">
									<ul>
										<li><a class="nav-link" href="">EMERALD</a></li>
										<li><a class="nav-link" href="">Jstore</a></li>
										<li><a class="nav-link" href="">EBSCO Host</a></li>
										<li><a class="nav-link" href="">Pakistan National Digital Library</a></li>
										<li><a class="nav-link" href="">Wiley InterScience</a></li>
										<li><a class="nav-link" href="">Oxford Scholarship Online</a></li>
										<li><a class="nav-link" href="">SpringerLink Online</a></li>
										<li><a class="nav-link" href="">RSC Journals</a></li>
										<li><a class="nav-link" href="">INASP - eBooks and Articles</a></li>
										<li><a class="nav-link" href="">InformaWorld Journals</a></li>
										<li><a class="nav-link" href="">Google Scholar</a></li>
										<li><a class="nav-link" href="">Annual Reviews</a></li>	
									</ul>
								</div>
								<div class="card-footer">
									These online journals sources are widely used all over the globe and it gives access to the more than 10000 online journals.

										For further details please contact:
										Ms. Mehwish Khan
										Head IRC
										111 - 264 - 264 (Ext: 1704)
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
<?php include_once('footer.php')?>