<?php include_once('header.php')?>
<style type="text/css">
	.shop_grid {
		height: 284px;
	}
	.okbtn
{
	width: 50%;
    margin-top: 29px;
}
.tdp
{
    background: #8d35b4;
    color: white;
    font-weight: bold;
}
.cart_page_form.style2 .table_body td {
    width: 34%;
}
label.control-label {
    font-weight: 700;
    color: black;
}
textarea.form-control {
    padding: 44px;
}

</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
						<div class="row">
							<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Scrunity Form </h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">Scrunity Form</li>
								</ol>
							 </nav>
						    </div>
						   <div class="col-lg-12">
						   		<form class="form-horizontal">
						   			<div class="form-group row">
						   				<div class="col-md-2">
						   					<label class="control-label">Student Name:</label>
						   				</div>
						   				<div class="col-md-3">
						   					<p>John Doe</p>
						   				</div>
						   				<div class="col-md-1">
						   					<label class="control-label">Program</label>
						   				</div>
						   				<div class="col-md-3">
						   					<p>BBA</p>
						   				</div>
						   			</div>
						   			<div class="form-group row">
						   				<div class="col-md-2">
						   					<label class="control-label">Registration No:</label>
						   				</div>
						   				<div class="col-md-3">
						   					<p>1212</p>
						   				</div>
						   				<div class="col-md-1">
						   					<label class="control-label">Date</label>
						   				</div>
						   				<div class="col-md-3">
						   					<p>30/03/2020</p>
						   				</div>
						   			</div>
						   			<div class="form-group row">
						   				<div class="col-md-2">
						   					<label class="control-label">Scrutiny</label>
						   				</div>
						   				<div class="col-md-3">
						   					<input type="checkbox" class="form-control" name="yes">
						   				</div>
						   				<div class="col-md-2">
						   					<label class="control-label">Re Checking</label>
						   				</div>
						   				<div class="col-md-1">
						   					<input type="checkbox" name="yes" class="form-control">
						   				</div>
						   			</div>
						   			<div class="form-group row">
						   				<div class="col-lg-2">
						   					<label class="control-label">Select Course</label>
						   				</div>
						   				<div class="col-lg-6">
						   					<select class="form-control">
						   								<option>Select Course</option>
						   							</select>
						   				</div>
						   			</div>
						   			<div class="form-group row">
						   				<div class="col-lg-2">
						   					<label class="control-label">Research for Evalution</label>
						   				</div>
						   				<div class="col-lg-6">
						   					<textarea class="form-control"></textarea>
						   				</div>
						   			</div>
						   			<div class="form-group row">
						   				<div class="col-lg-2">
						   					<label class="control-label">Voucher Number</label>
						   				</div>
						   				<div class="col-lg-6">
						   					<input type="text" name="" class="form-control">
						   				</div>
						   			</div>
						   			<div class="form-group row">
						   				<div class="col-lg-6">
						   					<input type="submit" value="submit" class="btn-primary btn pull-right" name="">
						   				</div>
						   			</div>
						   		</form>
						   </div>	
						</div>
				</div>
			</div>
		</div>
	</div>
<?php include_once('footer.php')?>