<?php include_once('header.php')?>
<style type="text/css">
	.shop_grid {
		height: 210px;
	}
</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Student </h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">student</li>
								</ol>
							</nav>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminapplication.php">
									 <img class="img-fluid" src="images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Application</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminjob.php">
									 <img class="img-fluid" src="images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Job Apply</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="adminmeeting.php">
									 <img class="img-fluid" src="images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Meeting Appointment</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="adminregister.php">
									 <img class="img-fluid" src="images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Registration</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminscruntiy.php"> 
									 <img class="img-fluid" src="images/shop/meeting%20appointment.png" alt="3.png">
									 <p><strong>Scrunity Form</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
								  <a href="adminassignmet.php">
									<img class="img-fluid" src="images/shop/faculty%20development.png" alt="2.png">
									 <p><strong>Student Assignments</strong></p>
								  </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="admincourse.php"> 
									 <img class="img-fluid" src="images/shop/faculty%20development.png" alt="3.png">
									 <p><strong>Student Course</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminsprofile.php">
										<img class="img-fluid" src="images/shop/vle%20icon.png" alt="3.png">
										 <p><strong>Student Profile</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminquery.php"> 
									 <img class="img-fluid" src="images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Student Query</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminsignup.php"> 
									 <img class="img-fluid" src="images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Student Signup</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminstudentevalution.php">
									 <img class="img-fluid" src="images/shop/CAC%20Form.png" alt="2.png">
									 <p><strong>Student Evaulation</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminsurveryans.php">
										<img class="img-fluid" src="images/shop/library.png" alt="4.png">
										 <p><strong>Student Survey</strong></p>
									</a>
								</div>
							</div>
						</div>
						
						
					</div>
					<div class="row mt50 mb50">
						<div class="col-lg-6 offset-lg-3">
							<div class="copyright-widget text-center">
								<p class="color-black2">Copyright Hnh tech solution © 2019. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<?php include_once('footer.php')?>