<?php include_once('superadminheader.php')?>
<style type="text/css">
	.shop_grid {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(237, 239, 247);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 266px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.modal-dialog {
    max-width: 935px;
}
.modal-body .row .col-md-3 .shop_grid{position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(237, 239, 247);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 212px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.shop_grid .details .item-tile {
    font-size: 16px;
    font-family: "Nunito";
    color: #0a0a0a;
    line-height: 1.333;
    text-align: center;
}
</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Welcome Super Admin </h4>
							 </nav>
						</div>
						<div class="col-lg-12">
							<div class="row">
								<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<img class="img-fluid" src="images/shop/New%20folder/nimination.png" alt="1.png">
								</div>
								<div class="details float-left">
									<h4 class="price">Create Admin </h4>
									
								</div>
								<a class="cart_bag float-right" href="#" data-toggle="modal" data-target="#exampleModalCenter3"><span class="fa fa-link"></span></a>
							</div>
						</div>
								<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<img class="img-fluid" src="images/shop/New%20folder/faculty%20development.png" alt="1.png">
								</div>
								<div class="details float-left">
									<h4 class="price">Create University</h4>
								
								</div>
								<a class="cart_bag float-right" href="#" data-toggle="modal" data-target="#exampleModalCenter"><span class="fa fa-link"></span></a>
							</div>
						</div>
								<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<img class="img-fluid" src="images/shop/1.png" alt="1.png">
								</div>
								<div class="details float-left">
									<h4 class="price">Create Branch</h4>
								
								</div>
								<a class="cart_bag float-right" href="#" data-toggle="modal" data-target="#exampleModalCenter2"><span class="fa fa-link"></span></a>
							</div>
						</div>
							</div>
						</div>
						<br><br>
						<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Other Actions </h4>
							 </nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Create University -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create University</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-12">
        		<div class="my_course_content_container">
										<div class="my_setting_content mb30">
											<div class="my_setting_content_header">
												<div class="my_sch_title">
													<h4 class="m0">University info</h4>
												</div>
											</div>
											<div class="row my_setting_content_details pb0">
												<div class="col-xl-12">
													<div class="row">
														<div class="col-xl-6">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput1">University Name</label>
														    	<input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Enter University Name">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">University User Name </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
														<div class="col-xl-6">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">University Password </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">University Address </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row my_setting_content_details">
												<div class="col-xl-5">
													<div class="my_profile_setting_input form-group">
												    	<label for="formGroupExampleInput1">Status</label>
												    	<input type="text" class="form-control" id="faculty" placeholder="Mention Status">
													</div>
												</div>
												<div class="col-xl-5">
													<div class="my_profile_setting_input form-group">
												    	<label for="formGroupExampleInput1">Picture</label>
												    	<input type="file" class="form-control" id="course" placeholder="Mention Here Skills to Develop">
													</div>
												</div>
												<div class="col-xl-2">
													<label></label>
													<input type="button" id="#add" class=" mt-4 w-50 btn btn-primary text-white" value="Add">
												</div>
												
											</div>
											
										</div>
									</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Create Branch -->
<div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Branch</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-12">
        		<div class="my_course_content_container">
										<div class="my_setting_content mb30">
											<div class="my_setting_content_header">
												<div class="my_sch_title">
													<h4 class="m0">Branch info</h4>
												</div>
											</div>
											<div class="row my_setting_content_details pb0">
												<div class="col-xl-12">
													<div class="row">
														<div class="col-xl-6">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput1">Branch Name</label>
														    	<input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Enter University Name">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Branch User Name </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
														<div class="col-xl-6">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Branch Password </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Branch Address </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row my_setting_content_details">
												<div class="col-xl-5">
													<div class="my_profile_setting_input form-group">
												    	<label for="formGroupExampleInput1">Status</label>
												    	<input type="text" class="form-control" id="faculty" placeholder="Mention Status">
													</div>
												</div>
												<div class="col-xl-5">
													<div class="my_profile_setting_input form-group">
												    	<label for="formGroupExampleInput1">Picture</label>
												    	<input type="file" class="form-control" id="course" placeholder="Mention Here Skills to Develop">
													</div>
												</div>
												<div class="col-xl-2">
													<label></label>
													<input type="button" id="#add" class=" mt-4 w-50 btn btn-primary text-white" value="Add">
												</div>
												
											</div>
											
										</div>
									</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Create Admin -->
<div class="modal fade" id="exampleModalCenter3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Create Admin</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-md-12">
        		<div class="my_course_content_container">
										<div class="my_setting_content mb30">
											<div class="my_setting_content_header">
												<div class="my_sch_title">
													<h4 class="m0">Admin info</h4>
												</div>
											</div>
											<div class="row my_setting_content_details pb0">
												<div class="col-xl-12">
													<div class="row">
														<div class="col-xl-6">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput1">First Name</label>
														    	<input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Enter University Name">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Last Name </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
														<div class="col-xl-6">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Branch Password </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Username </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
															<div class="col-xl-12">
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Email </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
															<div class="my_profile_setting_input form-group">
														    	<label for="formGroupExampleInput2">Contact </label>
														    	<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="">
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="row my_setting_content_details">
												<div class="col-xl-5">
													<div class="my_profile_setting_input form-group">
												    	<label for="formGroupExampleInput1">Status</label>
												    	<input type="text" class="form-control" id="faculty" placeholder="Mention Status">
													</div>
												</div>
												<div class="col-xl-5">
													<div class="my_profile_setting_input form-group">
												    	<label for="formGroupExampleInput1">Picture</label>
												    	<input type="file" class="form-control" id="course" placeholder="Mention Here Skills to Develop">
													</div>
												</div>
												<div class="col-xl-2">
													<label></label>
													<input type="button" id="#add" class=" mt-4 w-50 btn btn-primary text-white" value="Add">
												</div>
												
											</div>
											
										</div>
									</div>
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
<?php include_once('footer.php')?>