<?php include_once('header.php')?>
<style type="text/css">
	.dashboard_main_content .main_content_container {
    padding: 99px 0 0;
}
.faq_question_widget{
	min-height: 83vh;
}
.okbtn
{
	width: 70%;
    /*margin-top: 29px;*/
}

.tdp
{
    background: #8d35b4;
    color: white;
    font-weight: bold;
    padding: 7px;
}
.cart_page_form.style2 .table_body td {
    width: 24%;
}
.form-group
{
  border: 2px solid aliceblue;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
    padding: 7px;
}
.mcol
{
  padding: 13px;
}
</style>
<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
                    <div class="row">
                        <div class="col-lg-8 offset-md-1">
                          <div class="container">

                           <form>
                             <div class="form-group">
                              <div class="col-lg-12 tdp">
                                <p class=""><b>Q1-The work in the program is too heavy and includes a lot of pressure</b></p>
                              </div>
                               <div class=" mcol col-6 offset-md-1">
                                
                                 <input type="radio" name="yes">
                                 <label>Agree</label>
                                 
                                 <input type="radio" name="yes">
                                 <label>Strongly Agree</label>
                                 
                                 <input type="radio" name="yes">
                                 <label>Disagree</label>
                               </div>
                             </div>
                             <div class="form-group">
                              <div class="col-lg-12 tdp">
                                <p class="tdp"><b>Q2-The program is effective in enhancing team-working abilities</b></p>
                              </div>
                               <div class=" mcol col-6 offset-md-1">
                                
                                 <input type="radio" name="yes">
                                 <label>Agree</label>
                                 
                                 <input type="radio" name="yes">
                                 <label>Strongly Agree</label>
                                 
                                 <input type="radio" name="yes">
                                 <label>Disagree</label>
                               </div>
                             </div>
                             <div class="form-group">
                               <div class="col-lg-12">
                                 <input type="submit" value="submit" class="btn btn-primary" name="">
                               </div>
                             </div>
                           </form>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
						
</div>
  
<?php include_once('footer.php')?>

