{% extends 'faculty/vbase.html' %} {% load static %} {% block body %}
<style type="text/css">
    .shop_grid {
        position: relative;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(237, 239, 247);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        height: 266px;
        margin-bottom: 30px;
        padding: 20px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    
    .shop_grid .details .price {
        font-size: 18px;
        font-family: "Nunito";
        color: rgb(199, 85, 51);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }
    
    .shop_grid .cart_bag {
        border-radius: 50%;
        background-color: rgb(255, 16, 83);
        height: 50px;
        margin-top: 0px;
        opacity: 0;
        text-align: center;
        width: 50px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    
    .okbtn {
        width: 50%;
        margin-top: 29px;
    }
    
    .tdp {
        background: #8d35b4;
        color: white;
        font-weight: bold;
    }
    
    .button_height {
        margin-left: 10px;
    }
</style>
<!-- Our Dashbord -->
<div class="our-dashbord dashbord">
    <div class="dashboard_main_content">
        <div class="container-fluid">
            <div class="main_content_container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
                            <a href="/faculty/syllabus">
                                <h4 class="title float-left">My Syllabus</h4>
                            </a>
                        </nav>
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
                            <strong>Message:</strong> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}

                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="fvledashboard" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Back to Class Room" data-original-title="Left">
							    			Back To Class
							    		</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-lg-12">
                        <form action="createsyllabus" id="inservideo" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group button_height">
                                Semester :
                                <input type="text" class="form-control button_height" name="semester">
                            </div>

                            <div class="form-group button_height">
                                Courses:
                                <select name="category" class="form-control button_height">
				                   {% for i in courses %}
					            <option value="{{i.Cid}}">{{i.Course_name}}<option>
					             {% endfor %}
					            
				                    </select>

                            </div>

                            <div class="form-group button_height">
                                Department:
                                <select name="department" class="form-control button_height">
				                     {% for i in department %}
					            <option value="{{i.Did}}">{{i.Department_name}}<option>
					              {% endfor %}
					            
				                    </select>

                            </div>



                            <div class="form-group button_height">
                                Outline:
                                <input type="file" class="form-control button_height" name="file">
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary button_height" value="Create" name="">
                            </div>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}