{% extends 'faculty/vbase.html' %} {% load static %} {% block body %}
<style type="text/css">
    .shop_grid {
        position: relative;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(237, 239, 247);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        height: 266px;
        margin-bottom: 30px;
        padding: 20px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .shop_grid .details .price {
        font-size: 18px;
        font-family: "Nunito";
        color: rgb(199, 85, 51);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }

    .shop_grid .cart_bag {
        border-radius: 50%;
        background-color: rgb(255, 16, 83);
        height: 50px;
        margin-top: 0px;
        opacity: 0;
        text-align: center;
        width: 50px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
     .tdp {
        background: #8d35b4;
        color: white;
        font-weight: bold;
    }
</style>
<!-- Our Dashbord -->
<div class="our-dashbord dashbord">
    <div class="dashboard_main_content">
        <div class="container-fluid">
            <div class="main_content_container">
                <div class="row">

                    <div class="col-lg-12">
                        <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
                            <h4 class="title float-left">Online Quiz</h4>
                        </nav>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="myclass" class="btn btn-primary" data-toggle="tooltip" data-placement="left"
                                    title="Back to Class Room" data-original-title="Left">
                                    Back To Class
                                </a>
                            </li>
                        </ol>
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item active" aria-current="page">
                                <a href="https://docs.google.com/forms/u/0/" class="btn btn-primary"
                                    data-toggle="tooltip" data-placement="left" title="Back to Class Room"
                                    data-original-title="Left" target="_blank">
                                    Create Online Quiz
                                </a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-lg-12">
                        {% for message in messages %}
                        <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
                            <strong>Message:</strong> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}


                        <form action="/faculty/onlinequiz" id="inservideo" method="post">
                            {% csrf_token %}
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="tdp">Course</th>
                                        <th class="tdp">Department</th>


                                        <th class="tdp">Semester</th>
                                        <th class="tdp">Share Link</th>

                                        <th class="tdp">Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>


                                        <td>

                                            <select name="category" class="form-control">
                                                
                                                {% for i in courses %}
                                                <option value="{{i.Cid}}">{{i.Course_name}}
                                            
                                                    {% endfor %}
                                                    {% comment %}
                                                <option value="lectures">Online Lecture</option> {% endcomment %}
                                            </select>




                                        </td>
                                        <td>

                                            <select name="department" class="form-control">
                                                {% for i in courses %}
                                       
                                                <option value="{{i.Department_id}}">{{i.Department_id}}
                                                <option>
                                             
                                                    {% endfor %}
                                                    {% comment %}
                                                <option value="lectures">Online Lecture</option> {% endcomment %}
                                            </select>




                                        </td>


                                        <td> <select name="semester" class="form-control">
                                                {% for i in courses %}
                                                <option value="{{i.Semester_id}}">{{i.Semester_id}}
                                                <option>
                                                    {% endfor %}
                                                    {% comment %}
                                                <option value="lectures">Online Lecture</option> {% endcomment %}
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name='link'>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-sm btn-primary">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </td>
                                    </tr>




                                </tbody>
                            </table>
                        </form>
                    </div>
                  
                       <div class="col-lg-12">
                         <br><br><br>
                         <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
                            <h4 class="title float-left">Quiz Details</h4>
                        </nav>
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>

                                    <th class="tdp">Course</th>
                                    <th class="tdp">Department</th>
                                    <th class="tdp">Teacher</th>
                                    <th class="tdp">Semester</th>
                                    <th class="tdp">Share Link</th>
                                    <th class="tdp">Delete</th>


                                </tr>
                            </thead>
                            <tbody>
                                {% for data in data %}
                                <tr>

                                    <td>{{data.Course_id}}</td>
                                    <td>{{data.Department_id}}</td>
                                     <td>{{data.Instructor_id}}</td>
                                     <td>{{data.semester}}</td>
                                <td> <a href="{{data.quizlink}}" target="_blank" ><button type="submit" class="btn btn-primary">Click To Join</button></a></td>

                                <td> <a href="/faculty/deletequiz/{{data.onlinequizid}}" ><button type="submit" class="btn btn-danger">Delete</button></a></td>

                                </tr>
                                {% endfor %}



                            </tbody>
                        </table>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}

</script>
{% endblock %}