{% extends 'faculty/vbase.html' %}
{% load static %}
{% block body %}
<style type="text/css">
	.shop_grid {
    position: relative;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(237, 239, 247);
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    height: 266px;
    margin-bottom: 30px;
    padding: 20px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.shop_grid .details .price {
    font-size: 18px;
    font-family: "Nunito";
    color: rgb(199, 85, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}
.shop_grid .cart_bag {
    border-radius: 50%;
    background-color: rgb(255, 16, 83);
    height: 50px;
    margin-top: -42px;
    opacity: 0;
    text-align: center;
    width: 50px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">E-Block </h4>
							 </nav>
							 <ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item active" aria-current="page">
							    		<a href="myclass" class="btn btn-primary"  data-toggle="tooltip" data-placement="left" title="Back to Class Room" data-original-title="Left">
							    			Back To Class
							    		</a>
							    	</li>
								</ol>
						</div>
					<div class="col-lg-12">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>

                                    <th class="tdp">Online Lecture Title</th>
                                    {% comment %} <th class="tdp">Assigment Desc</th> {% endcomment %}
                                    <th class="tdp">Online Lecture File</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for data in material %}
                                <tr>

                                    <td>{{data.Title}}</td>
                                    {% comment %} <td>{{data.AssigmentDesc}}</td> {% endcomment %}
                                    {% comment %} <td>{{data.AssigmentFile}}</td> {% endcomment %}
									<td><a href="/upload/{{data.MaterailFile}}" class="btn btn-primary" >Download </a></td>

                                </tr>
                                {% endfor %}



                            </tbody>
                        </table>
                    </div>
							</div>
						</div>
					
					</div>
				</div>
			</div>
		</div>
	</div>
	

{% endblock %}