{% extends 'faculty/base.html' %}
{% load static %}
{% block body %}
<style type="text/css">
	.shop_grid {
		height: 210px;
	}
</style>
<!-- Our Dashbord -->


<!-- Our Dashbord -->
<div class="our-dashbord dashbord">
	<div class="dashboard_main_content">
		<div class="container-fluid">
			<div class="main_content_container">
				<div class="row">
					<div class="col-lg-12">
						<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
							<h4 class="title float-left">Faculty Dashboard </h4>

						</nav>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="/faculty/semesterschedule">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/academic%20calender.png" alt="1.png">
									<p><strong>Semester Schedule</strong></p>
								</a>
							</div>
						</div>
					</div>

					{% if form  %}
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								{% for i in form %}
								<a href="/upload/{{i.FormFile}}">

									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/faculty%20development.png" alt="2.png">
									<p><strong>Faculty Guideline</strong></p>
								</a>
								{% endfor %}
							</div>
						</div>
					</div>
					{% else %}
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								
								<a href="#">

									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/faculty%20development.png" alt="2.png">
									<p><strong>Faculty Guideline</strong></p>
								</a>
							
							</div>
						</div>
					</div>

					{% endif %}

					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="formguidline">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/vle%20icon.png"
										alt="3.png">
									<p><strong>Form & Guideline</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="library">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/library.png"
										alt="4.png">
									<p><strong>Library Book Search</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="digitallibrary">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/digital%20library.png" alt="5.png">
									<p><strong>Digital Library</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="Phddigitallibrary">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/digital%20library.png" alt="6.png">
									<p><strong>Digital Library (Phd)</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="academiccalendar">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/faculty%20Calender.png" alt="1.png">
									<p><strong>Academic Calendar</strong></p>
								</a>
							</div>
						</div>
					</div>
					{% if cacform %}
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">


								{% for i in cacform %}
								<a href="/upload/{{i.FormFile}}">

									<img class="img-fluid" src="{% static '' %}faculty/images/shop/CAC%20Form.png"
										alt="2.png">
									<p><strong>Cac Form</strong></p>
								</a>
								{% endfor %}
							</div>
						</div>
					</div>
					{% else %}

					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">



								<a href="#">

									<img class="img-fluid" src="{% static '' %}faculty/images/shop/CAC%20Form.png"
										alt="2.png">
									<p><strong>Cac Form</strong></p>
								</a>

							</div>
						</div>
					</div>
					{% endif %}


					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="facultycalendar">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/faculty%20Calender.png" alt="3.png">
									<p><strong>Faculty Calendar</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="examresult">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/exam%20result.png"
										alt="3.png">
									<p><strong>Upload Exam Result</strong></p>
								</a>
							</div>
						</div>
					</div>


					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="editexamresult">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/CAC%20Form.png"
										alt="2.png">
									<p><strong>Edit Exam Result</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="examschedule">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/exam%20result.png"
										alt="3.png">
									<p><strong>Exam Schedule</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="facultyevaluation">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/faculty%20development.png" alt="3.png">
									<p><strong>Faculty Evaluation</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="attendance">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/attendance.png"
										alt="3.png">
									<p><strong>Attendance</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="userstories">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/user%20stories.png"
										alt="3.png">
									<p><strong>User Stories</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="facultyform">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/evaluation.png"
										alt="3.png">
									<p><strong>Faculty Development Form</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="coursefile">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/course%20file.png"
										alt="3.png">
									<p><strong>Upload Course Video</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="roomreservation">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/reservation.png"
										alt="3.png">
									<p><strong>Room Reservation</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="foodreservation">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/food%20reservation.png" alt="3.png">
									<p><strong>Food Reservation</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="onlinelecture">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/online%20lectures.png" alt="3.png">
									<p><strong>Online Lecture</strong></p>
								</a>
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="/faculty/becometeacher">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/nimination.png"
										alt="3.png">
									<p><strong>My Profile</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="facultyattendance">
									<img class="img-fluid"
										src="{% static '' %}faculty/images/shop/meeting%20appointment.png" alt="3.png">
									<p><strong>Faculty Attendance</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">
								<a href="fvledashboard" target="new">
									<img class="img-fluid" src="{% static '' %}faculty/images/shop/vle%20icon.png"
										alt="3.png">
									<p><strong>VLE</strong></p>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-lg-6 col-xl-4">
						<div class="shop_grid">
							<div class="thumb text-center">




								<a href="mailto:{{instructer_data.email}}" target="_blank"> <img class="img-fluid"
										src="{% static '' %}faculty/images/shop/online%20lectures.png" alt="3.png"></a>

								<p><strong>Email</strong></p>
								</a>
							</div>
						</div>
					</div>

				</div>
				<div class="row mt50 mb50">
					<div class="col-lg-6 offset-lg-3">
						<div class="copyright-widget text-center">
							<p class="color-black2">Copyright Hnh tech solution © 2019. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	


	if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
{% endblock  %}