{% extends 'faculty/vbase.html' %} {% load static %} {% block body %}
<style type="text/css">
    .shop_grid {
        position: relative;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(237, 239, 247);
        border-radius: 5px;
        background-color: rgb(255, 255, 255);
        height: 266px;
        margin-bottom: 30px;
        padding: 20px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

    .shop_grid .details .price {
        font-size: 18px;
        font-family: "Nunito";
        color: rgb(199, 85, 51);
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
    }

    .shop_grid .cart_bag {
        border-radius: 50%;
        background-color: rgb(255, 16, 83);
        height: 50px;
        margin-top: 0px;
        opacity: 0;
        text-align: center;
        width: 50px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
     .tdp {
        background: #8d35b4;
        color: white;
        font-weight: bold;
    }
</style>
<!-- Our Dashbord -->
<div class="our-dashbord dashbord">
    <div class="dashboard_main_content">
        <div class="container-fluid">
            <div class="main_content_container">
                <div class="row">

                       <div class="col-lg-12">
                         <br><br><br>
                         <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
                            <h4 class="title float-left">Quiz Details</h4>
                        </nav>
                
                    </div>
                    <div class="col-md-6">               
                        <form action="javascript::void(0)" method="post"  id="quizform">
                    {% csrf_token %}
                   
                        <div class="from-group">
                            <label for="">Question</label>
                          <input type="text" class="form-control" placeholder="Question" id="question" name="question" required>
                        </div>
                        <div class="from-group">
                            <label for="">Anwser 1</label>
                          <input type="text" class="form-control" placeholder="Anwser 1" id="a1" name="a1" required>
                        </div>
                        <div class="from-group">
                            <label for="">Anwser 2</label>
                          <input type="text" class="form-control" placeholder="Anwser 2" id="a2" name="a2" required>
                        </div>
                        <div class="from-group">
                            <label for="">Anwser 3</label>
                          <input type="text" class="form-control" placeholder="Anwser 3" id="a3" name="a3" required>
                        </div>
                        <div class="from-group">
                            <label for="">Anwser 4</label>
                          <input type="text" class="form-control" placeholder="Anwser 4" id="a4" name="a4" required>
                        </div>
                        <div class="from-group">
                            <label for="">Correct Anwser</label>
                          <input type="text" class="form-control" placeholder="correct Anwser" name="anwser" id="anwser" required>
                        </div>
                   
                      </div>
                      <div class="col-md-3 text-center" style="margin-top:120px">
                          <input type="submit" id="save" class="btn btn-primary" value="save and close">
                          <input type="submit" id="saveand" value="Save and add other" class="btn btn-primary">
                      </div>
                
             
                    </form>
            </div>
        </div>
    </div>
</div>
<
{% endblock %}

{% block script %}
<script>
    let save=0;
$('#save').click(function(){
    save="save";
})
$('#saveand').click(function(){
    save="saveand";
})
 $('#quizform').submit(function(){
   
     $.ajax({
         url:"{% url 'quizsheetsave' %}",
         type:'POST',
         data:{
             question:$('#question').val(),
             a1:$('#a1').val(),
             a2:$('#a2').val(),
             a3:$('#a3').val(),
             a4:$('#a4').val(),
             save:save,
            
             anwser:$('#anwser').val(),
         },
         success:function(data){
         if(data=="save"){
            window.location.href="/faculty/onlinequiz"
           
         }
         else if(data=="saveand"){
            document.getElementById("quizform").reset();
                 }
    }

     })
 })
</script>
  
{% endblock script %}