<?php include_once('header.php')?>
<style type="text/css">
	.dashboard_main_content .main_content_container {
    padding: 99px 0 0;
}
.faq_question_widget{
	min-height: 83vh;
}
</style>
<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
						<div class="row">
							<div class="col-lg-12">
							 <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Exam Result </h4>
								<ol class="breadcrumb float-right">
							    	<li class="breadcrumb-item"><a href="#">Home</a></li>
							    	<li class="breadcrumb-item active" aria-current="page">Exam Result</li>
								</ol>
							 </nav>
						    </div>
							<div class="col-lg-12">
								<div class="cart_page_form style2">
											<form action="#">
												<table class="table table-responsive">
												  	<thead>
													    <tr class="carttable_row">
													    	
													    	<th class="cartm_title">Select Course</th>
													    </tr>
												  	</thead>
												  	<tbody class="table_body">
													    <tr>
															<td>
																<select class="form-control">
																	<option value=""> Select Course</option>
																	<option>Abc Course</option>
																	<option>CDE course</option>
																</select>
															</td>													    	
													    </tr>
												  	</tbody>
												</table>
											</form>
										</div>
							</div>
							<div class="col-lg-12">
								<div class="my_setting_content_details">
										<div class="cart_page_form style3">
											<form action="#">
												<table class="table table-responsive">
												  	<thead>
												  		  <tr class="carttable_row">
													    	<th class="cartm_title">Course Weightage</th>
													      </tr>
													    <tr class="">
													    	<th class="cartm_title">Course Name</th>
													    	<th class="cartm_title">Project</th>
													    	<th class="cartm_title">Quiz/Assignment</th>
													    	<th class="cartm_title">Midterm</th>
													    	<th class="cartm_title">Final</th>
													    	<th class="cartm_title">Total</th>
													    	<th class="cartm_title"></th>
													    </tr>
												  	</thead>
												  	<tbody class="table_body">
													    <tr>
													    	<th scope="row">
													    		<ul class="cart_list">
													    			<li class="list-inline-item"><a class="cart_title" href="#">Introduction Web Design with HTML</a></li>
													    		</ul>
													    	</th>
													    	<td>
													    		<input style="width: 63px;" class="form-control" type="text" name="">
													    	</td>
													    	<td>
													    		<input style="width: 125px;" class="form-control" type="" name="">
													    	</td>
													    	<td>
													    		<input style="width: 63px;" class="form-control" type="" name="">
													    	</td>
													    	<td>
													    		<input style="width: 63px;" class="form-control" type="" name="">
													    	</td>
													    	<td>
													    		0
													    	</td>
													    	<td colspan="4">
												  				<input type="button" class="btn btn-primary" value="Save" name="">
												  			</td>
													    </tr>
													  
													   
												  	</tbody>
												  	<tfoot>
												  		<tr>
												  			
												  		</tr>
												  	</tfoot>
												</table>
											</form>
										</div>
									</div>
							</div>
						</div>
				</div>
			</div>
</div>

<?php include_once('footer.php')?>