{% extends 'uniadmin/base.html' %}
{% load static %}
{% block body %}
<style type="text/css">
	.shop_grid {
		height: 284px;
	}
	.okbtn
	{
		width: 50%;
		margin-top: 29px;
	}
	.tdp
	{
		background: #8d35b4;
		color: white;
		font-weight: bold;
	}
	.cart_page_form.style2 .table_body td {
		width: 34%;
	}
	label.control-label {
		font-weight: 700;
		color: black;
	}
	textarea.form-control {
		padding: 44px;
	}

</style>
<div class="dashboard_main_content">
	<div class="container-fluid">
		<div class="main_content_container">
			<div class="row">
				<div class="col-lg-12">
					<br><br>
					<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
						<a href="/university/admincoursef"><h4 class="title float-left">Course Form</h4></a>
						
					</nav>
				</div>
			
				<div class="col-lg-12">
					{% for message in messages %}
                        <div class="alert alert-{{message.tags}} mb-0 alert-dismissible fade show" role="alert">
                            <strong>Message:</strong> {{message}}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
        {% endfor %}


					<div class="my_course_content_container">
						<div class="my_setting_content">
							<div class="my_setting_content_details">
								<div class="cart_page_form style3">
									<form action="/university/adminaddcoursef" method="POST">
									{% csrf_token %}
										<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2"> Course Name</label>
												<input class="col-md-5 form-control" type="text" name="cname" required>
											</div>

										</div>
										<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2">Description</label>
												<textarea class="col-md-5 form-control" name="cdesc" required></textarea>
											</div>

										</div>
										<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2">Course Code</label>
												<input class="col-md-5 form-control" type="text" name="ccode" required>
											</div>

										</div>
										<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2">Total Marks</label>
												<input class="col-md-5 form-control" type="text" name="tmarks" required>
											</div>

										</div>
										<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2">Obtain Marks</label>
												<input class="col-md-5 form-control" type="text" name="omarks" required>
											</div>

										</div>
										<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2">Mid Term Marks</label>
												<input class="col-md-5 form-control" type="text" name="mmarks" required>
											</div>

										</div>
										<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2">Department</label>
												<select class="col-md-5 form-control"name="department">
												{% for i in department %}
													<option value='{{i.Did}}'>{{i.Department_name}}</option>
													{% endfor %}
												</select>
											</div>

										</div>
										<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2">Instructor</label>
												<select class="col-md-5 form-control"name="instructor">
													{% for i in teacher %}
													<option value='{{i.tid}}'>Name : {{i.First_Name}} Email : {{i.username.email}}</option>
													{% endfor %}
												</select>
											</div>

										</div>
											<div class="form-group ">
											<div class="row">
												<label class="control-label col-md-2">Semester</label>
												<select class="col-md-5 form-control"name="semester">
												{% for i in semester  %}
													<option value='{{i.SamesterId}}'>{{i.Samester_Name}}</option>
													{% endfor %}
												</select>
											</div>

										</div>
									
										<div class="form-group row">
											<div class="col-lg-12 offset-md-3">
												<input type="submit" value="Save" class="btn-primary btn" name="">
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}