{% extends 'uniadmin/base.html' %}
{% load static %}
{% block body %}
<style type="text/css">
	.shop_grid {
		height: 210px;
	}
</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Admin Information </h4>
								
							</nav>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="academiccalendarmodel">
									 <img class="img-fluid" src="{% static ''%}images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Academic Calendar Model</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminnotification">
									 <img class="img-fluid" src="{% static ''%}images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Notification</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="adminexam">
									 <img class="img-fluid" src="{% static ''%}images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Exams Schedule</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="adminsemester">
									 <img class="img-fluid" src="{% static ''%}images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Semester Schedule</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminfacultyattendance"> 
									 <img class="img-fluid" src="{% static ''%}images/shop/meeting%20appointment.png" alt="3.png">
									 <p><strong>Faculty Attendance</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
								  <a href="adminfacultycalendar">
									<img class="img-fluid" src="{% static ''%}images/shop/faculty%20development.png" alt="2.png">
									 <p><strong>Faculty Calendar Model</strong></p>
								  </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminfacultyevaluation"> 
									 <img class="img-fluid" src="{% static ''%}images/shop/faculty%20development.png" alt="3.png">
									 <p><strong>Faculty Evaluation</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminform">
										<img class="img-fluid" src="{% static ''%}images/shop/vle%20icon.png" alt="3.png">
										 <p><strong>Form</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminmenuorder"> 
									 <img class="img-fluid" src="{% static ''%}images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Food Menu Orders</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminmenuitem"> 
									 <img class="img-fluid" src="{% static ''%}images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Food Menu Item</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminrole">
									 <img class="img-fluid" src="{% static ''%}images/shop/CAC%20Form.png" alt="2.png">
									 <p><strong>Roles</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminroom">
										<img class="img-fluid" src="{% static ''%}images/shop/library.png" alt="4.png">
										 <p><strong>Rooms</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminsurvery"> 
									 <img class="img-fluid" src="{% static ''%}images/shop/evaluation.png" alt="3.png">
									 <p><strong>Online Survey</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminplacementportal">
									 <img class="img-fluid" src="{% static ''%}images/shop/nimination.png" alt="5.png">
									  <p><strong>Placement Portal </strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminroomreservation">
									 <img class="img-fluid" src="{% static ''%}images/shop/digital%20library.png" alt="6.png">
									 <p><strong>Room Reservation</strong></p>
									</a>
								</div>
							</div>
						</div>
						
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminstudentattendance"> 
									 <img class="img-fluid" src="{% static ''%}images/shop/faculty%20Calender.png" alt="3.png">
									 <p><strong>Student Attendance</strong></p>
									</a>
								</div>
							</div>
						</div>
						</div>
					<div class="row mt50 mb50">
						<div class="col-lg-6 offset-lg-3">
							<div class="copyright-widget text-center">
								<p class="color-black2">Copyright Hnh tech solution © 2020. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}