{% extends 'uniadmin/base.html' %}
{% load static %}
{% block body %}

<style type="text/css">
	.shop_grid {
		height: 210px;
	}
</style>
	<!-- Our Dashbord -->
	<div class="our-dashbord dashbord">
		<div class="dashboard_main_content">
			<div class="container-fluid">
				<div class="main_content_container">
					<div class="row">
						<div class="col-lg-12">
							<nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
								<h4 class="title float-left">Student </h4>
								
							</nav>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminapplication">
									 <img class="img-fluid" src="{% static ''%}images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Application</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminjob">
									 <img class="img-fluid" src="/static/images/shop/faculty%20Calender.png" alt="1.png">
									 <p><strong>Job Apply</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="adminmeeting">
									 <img class="img-fluid" src="/static/images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Meeting Appointment</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="adminregister">
									 <img class="img-fluid" src="/static/images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Registration</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a  href="adminbatch">
									 <img class="img-fluid" src="/static/images/shop/academic%20calender.png" alt="1.png">
									 <p><strong>Batch</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminscruntiy"> 
									 <img class="img-fluid" src="/static/images/shop/meeting%20appointment.png" alt="3.png">
									 <p><strong>Scrunity Form</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
								  <a href="adminassignmet">
									<img class="img-fluid" src="/static/images/shop/faculty%20development.png" alt="2.png">
									 <p><strong>Student Assignments</strong></p>
								  </a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="admincourse"> 
									 <img class="img-fluid" src="/static/images/shop/faculty%20development.png" alt="3.png">
									 <p><strong>Add Student Course</strong></p>
									</a>
								</div>
							</div>
						</div>

						
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminsprofile">
										<img class="img-fluid" src="/static/images/shop/vle%20icon.png" alt="3.png">
										 <p><strong>Student Profile</strong></p>
									</a>
								</div>
							</div>
						</div>

						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="deleteCourse"> 
									 <img class="img-fluid" src="/static/images/shop/faculty%20development.png" alt="3.png">
									 <p><strong>Delete Student Course</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminquery"> 
									 <img class="img-fluid" src="/static/images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Student Query</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminsignup"> 
									 <img class="img-fluid" src="/static/images/shop/food%20reservation.png" alt="3.png">
									 <p><strong>Student Signup</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminstudentevalution">
									 <img class="img-fluid" src="/static/images/shop/CAC%20Form.png" alt="2.png">
									 <p><strong>Student Evaulation</strong></p>
									</a>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-lg-6 col-xl-4">
							<div class="shop_grid">
								<div class="thumb text-center">
									<a href="adminsurveryans">
										<img class="img-fluid" src="/static/images/shop/library.png" alt="4.png">
										 <p><strong>Student Survey</strong></p>
									</a>
								</div>
							</div>
						</div>
						
						
					</div>
					<div class="row mt50 mb50">
						<div class="col-lg-6 offset-lg-3">
							<div class="copyright-widget text-center">
								<p class="color-black2">Copyright Hnh tech solution © 2019. All Rights Reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}