{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- css file -->
<link rel="stylesheet" href="{% static ''%}css/bootstrap.min.css">
<link rel="stylesheet" href="{% static ''%}css/style.css">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="{% static ''%}css/responsive.css">
<!-- Title -->
<title>LMS</title>
<!-- Favicon -->
<link href="{% static ''%}favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="{% static ''%}images/favicon.ico" sizes="128x128" rel="shortcut icon" />
</head>
<body>
<div class="wrapper">
	<div class="preloader"></div>

	<!-- Main Header Nav -->
	<header class="header-nav menu_style_home_one navbar-scrolltofixed stricky main-menu">
		<div class="container-fluid">
		    <!-- Ace Responsive Menu -->
		    <nav>
		        <!-- Menu Toggle btn-->
		        <div class="menu-toggle">
		            <img class="nav_logo_img img-fluid" src="images/sohaillogo.png" alt="header-logo.png">
		            <button type="button" id="menu-btn">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		        </div>
		         <a href="#" class="navbar_brand float-left dn-smd">
		            <img class="logo1 img-fluid" src="{% static '' %}images/sohaillogo.png" alt="header-logo.png" style="height: 80px;">
		            <img class="logo2 img-fluid" src="{% static '' %}images/sohaillogo.png" alt="header-logo.png" style="height: 80px;">
		            {% comment %} <span>Digital Learning System</span> {% endcomment %}
		        </a> 
		         <!-- Responsive Menu Structure-->
		        <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
		        <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
		            <li>
		                <!-- <a href="{% url 'home' %}"><span class="title">Home</span></a> -->
		                
		            </li>
		        
		            <li>
		                <!-- <a href="/event"><span class="title">Events</span></a> -->
		                
		            </li>
		           
		            </li>
		            <li>
		                <!-- <a href="/blog"><span class="title">Blog</span></a> -->
		             
		            </li>
		            <li class="last">
		                <!-- <a href="{% url 'contact' %}"><span class="title">Contact</span></a> -->
		            </li>
					{% if request.session.role == 'Student'  %}
					<li class="last">
		                <a href="/student"><span class="title">Studnet Dashboard</span></a>
		            </li>

					{% elif request.session.role == 'Teacher' %}
					<li class="last">
		                <a href="/faculty"><span class="title">Teacher Dashboard</span></a>
		            </li>
					{% else %}

					
					{% endif %}
					 
					
					
		           
		      
		        <ul class="sign_up_btn pull-right dn-smd mt20">
				{% if request.session.username %}
				<a href="/faculty/logout" class="btn flaticon-user"  > Logout</a>

				{% else %}
				<li class="list-inline-item list_s"><a href="#" class="btn flaticon-user" data-toggle="modal" data-target="#exampleModalCenter"> <span class="dn-lg">Login/Register</span></a></li>

				{% endif %}
	              
	            </ul><!-- Button trigger modal -->
		    </nav>
		</div>
	</header>
	<!-- Modal -->
	<div class="sign_up_modal modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-hidden="true">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
	    	<div class="modal-content">
		      	<div class="modal-header">
		        	<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		      	</div>
	    		<ul class="sign_up_tab nav nav-tabs" id="myTab" role="tablist">
				  	<li class="nav-item">
				    	<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login</a>
				  	</li>
				  	<li class="nav-item">
				    	<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Register</a>
				  	</li>
				</ul>
				<div class="tab-content" id="myTabContent">
				  	<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="login_form">
							<form action="/faculty/login" method="post">
							{% csrf_token %}
								<div class="heading">
									<h3 class="text-center">Login to your account</h3>
									<p class="text-center">Don't have an account? <a class="text-thm" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Sign Up!</a></p>
								</div>
								 <div class="form-group">
							    	<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email Address" name="email">
								</div>
								<div class="form-group">
							    	<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
								</div>
								<div class="form-group custom-control custom-checkbox">
									
									<input type="checkbox" class="custom-control-input" id="exampleCheck1">
									<label class="custom-control-label" for="exampleCheck1">Remember me</label>
							<a class="tdu btn-fpswd float-right" href="#"  data-toggle="modal" data-target="#forgetpwd">Forgot Password?</a>									</div>
							
							<div class="form-group custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="exampleCheck2" name="checkbox">
									<label class="custom-control-label" for="exampleCheck2">Teacher</label>
								</div>
							
							<button type="submit" class="btn btn-log btn-block btn-thm2" id="submit">Login</button>
								</form>
								{% comment %} <hr>
								<div class="row mt40">
									<div class="col-lg">
									<a href="#"><button type="submit" class="btn btn-block color-white bgc-fb"><i class="fa fa-facebook float-left mt5"></i> Facebook</button></a>
									</div>
									<div class="col-lg">
										<a href="{% provider_login_url "google" %}"><button type="submit" class="btn btn-block color-white bgc-gogle"><i class="fa fa-google float-left mt5"></i> Google</button></a>
									</div>
								</div>
 {% endcomment %}

						</div>
				  	</div>
				  	<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
						<div class="sign_up_form">
							<div class="heading">
								<h3 class="text-center">Create New Account</h3>
								<p class="text-center">Have an account?<a class="text-thm" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Login</a></p>
							
							</div>
							<form action="/faculty/signup" method="post">
							{% csrf_token %}
								<div class="form-group">
							    	<input type="text" class="form-control" id="exampleInputName1" placeholder="Username" name="username" required maxlength="20" minlength="5">
								</div>
								 <div class="form-group">
							    	<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email Address" name="email" required>
								</div>
								<div class="form-group">
							    	<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" name="password1" required minlength="8" maxlength="20">
								</div>
								<div class="form-group">
							    	<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Confirm Password" name="password2" required minlength="8" maxlength="20">
								</div>
							
							<div class="form-group custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="exampleCheck3" name="checkbox1">
									<label class="custom-control-label" for="exampleCheck3">Teacher</label>
							
								</div>
								<div class="form-group custom-control custom-checkbox">
									<input type="checkbox" class="custom-control-input" id="exampleCheck4" name="checkbox2">
									<label class="custom-control-label" for="exampleCheck4">Student</label>
							
								</div>
								<button type="submit" class="btn btn-log btn-block btn-thm2" id="register">Register</button>
								<hr>
								<div class="row mt40">
									<div class="col-lg">
										<button type="submit" class="btn btn-block color-white bgc-fb"><i class="fa fa-facebook float-left mt5"></i> Facebook</button>
									</div>
									<div class="col-lg">
										<button type="submit" class="btn btn-block color-white bgc-gogle"><i class="fa fa-google float-left mt5"></i> Google</button>
									</div>

									
								</div>
							</form>
						</div>
				  	</div>
				</div>
	    	</div>
	  	</div>
	</div>
	<!-- Modal Search Button Bacground Overlay -->
    <div class="search_overlay dn-992">
		<div class="mk-fullscreen-search-overlay" id="mk-search-overlay">
		    <a href="#" class="mk-fullscreen-close" id="mk-fullscreen-close-button"><i class="fa fa-times"></i></a>
		    <div id="mk-fullscreen-search-wrapper">
		      <form method="get" id="mk-fullscreen-searchform">
		        <input type="text" value="" placeholder="Search courses..." id="mk-fullscreen-search-input">
		        <i class="flaticon-magnifying-glass fullscreen-search-icon"><input value="" type="submit"></i>
		      </form>
		    </div>
		</div>
	</div>

	<!-- Main Header Nav For Mobile -->
	<div id="page" class="stylehome1 h0">
		<div class="mobile-menu">
			<div class="header stylehome1">
				<div class="main_logo_home2">
		            <img class="nav_logo_img img-fluid float-left mt20" src="{% static 'images/header-logo.png' %}" alt="header-logo.png">
		            <span>edumy</span>
				</div>
				<ul class="menu_bar_home2">
					<li class="list-inline-item">
	                	<div class="search_overlay">
						  <a id="search-button-listener2" class="mk-search-trigger mk-fullscreen-trigger" href="#">
						    <div id="search-button2"><i class="flaticon-magnifying-glass"></i></div>
						  </a>
							<div class="mk-fullscreen-search-overlay" id="mk-search-overlay2">
							    <a href="#" class="mk-fullscreen-close" id="mk-fullscreen-close-button2"><i class="fa fa-times"></i></a>
							    <div id="mk-fullscreen-search-wrapper2">
							      <form method="get" id="mk-fullscreen-searchform2">
							        <input type="text" value="" placeholder="Search courses..." id="mk-fullscreen-search-input2">
							        <i class="flaticon-magnifying-glass fullscreen-search-icon"><input value="" type="submit"></i>
							      </form>
							    </div>
							</div>
						</div>
					</li>
					<li class="list-inline-item"><a href="#menu"><span></span></a></li>
				</ul>
			</div>
		</div><!-- /.mobile-menu -->
		<nav id="menu" class="stylehome1">
			<ul>
				<li><a href="index.html">Home</a></li>
				
				<li><span>Events</span>
					<ul>
						<li><a href="page-event.html">Event List</a></li>
						<li><a href="page-event-single.html">Event Single</a></li>
					</ul>
				</li>
				<li><span>Pages</span>
					<ul>
						<li><span>Shop Pages</span>
							<ul>
			                    <li><a href="page-shop.html">Shop</a></li>
			                    <li><a href="page-shop-single.html">Shop Single</a></li>
			                    <li><a href="page-shop-cart.html">Cart</a></li>
			                    <li><a href="page-shop-checkout.html">Checkout</a></li>
			                    <li><a href="page-shop-order.html">Order</a></li>
							</ul>
						</li>
						<li><span>User Admin</span>
							<ul>
								<li><a href="page-dashboard.html">Dashboard</a></li>
								<li><a href="page-my-courses.html">My Courses</a></li>
								<li><a href="page-my-order.html">My Order</a></li>
								<li><a href="page-my-message.html">My Message</a></li>
								<li><a href="page-my-review.html">My Review</a></li>
								<li><a href="page-my-bookmarks.html">My Bookmarks</a></li>
								<li><a href="page-my-listing.html">My Listing</a></li>
								<li><a href="page-my-setting.html">My Setting</a></li>
		                    </ul>
						</li>
		                <li><a href="page-about.html">About Us</a></li>
						<li><a href="page-gallery.html">Gallery</a></li>
						<li><a href="page-faq.html">Faq</a></li>
						<li><a href="page-login.html">LogIn</a></li>
						<li><a href="page-register.html">Register</a></li>
						<li><a href="page-pricing.html">Membership</a></li>
						<li><a href="page-error.html">404 Page</a></li>
						<li><a href="page-terms.html">Terms and Conditions</a></li>
						<li><a href="page-become-instructor.html">Become an Instructor</a></li>
						<li><a href="page-ui-element.html">UI Elements</a></li>
					</ul>
				</li>
				<li><span>Blog</span>
					<ul>
	                    <li><a href="page-blog-v1.html">Blog List 1</a></li>
	                    <li><a href="page-blog-grid.html">Blog List 2</a></li>
	                    <li><a href="page-blog-list.html">Blog List 3</a></li>
	                    <li><a href="page-blog-single.html">Single Post</a></li>
					</ul>
				</li>
				<li><a href="page-contact.html">Contact</a></li>
				
				
				<li><a href="page-login.html"><span class="flaticon-user"></span> Login</a></li>
				<li><a href="page-register.html"><span class="flaticon-edit"></span> Register</a></li>
			</ul>
		</nav>
	</div>

	<!-- 2nd Home Slider -->
	<div class="home1-mainslider">
		<div class="container-fluid p0">
			<div class="row">
				<div class="col-lg-12">
					<div class="main-banner-wrapper">
					    <div class="banner-style-one owl-theme owl-carousel">
					        <div class="slide slide-one" style="background-image: url({% static 'images/home/1.jpg' %}); height: 95vh;">
					            <div class="container">
					                <div class="row home-content">
					                    <div class="col-lg-12 text-center p0">
					                        <h3 class="banner-title">Self EducatIon Resources and Infos</h3>
					                        <p>Technology is brining a massive wave of evolution on learning things on different ways.</p>
					                        <div class="btn-block"><a href="#" class="banner-btn">Ready to get Started?</a></div>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="slide slide-one" style="background-image: url({% static 'images/home/2.jpg' %});height: 95vh;">
					            <div class="container">
					                <div class="row home-content">
					                    <div class="col-lg-12 text-center p0">
					                        <h3 class="banner-title">Self EducatIon Resources and Infos</h3>
					                        <p>Technology is brining a massive wave of evolution on learning things on different ways</p>
					                        <div class="btn-block"><a href="#" class="banner-btn">Ready to get Started?</a></div>
					                    </div>
					                </div>
					            </div>
					        </div>
					        <div class="slide slide-one" style="background-image: url({% static 'images/home/3.jpg' %});height: 95vh;">
					            <div class="container">
					                <div class="row home-content">
					                    <div class="col-lg-12 text-center p0">
					                        <h3 class="banner-title">Find the Best Courses</h3>
					                        <p>Technology is brining a massive wave of evolution on learning things on different ways</p>
					                        <div class="btn-block"><a href="#" class="banner-btn">Ready to get Started?</a></div>
					                    </div>
					                </div>
					            </div>
					        </div>
					    </div>
					    <div class="carousel-btn-block banner-carousel-btn">
					        <span class="carousel-btn left-btn"><i class="flaticon-left-arrow left"></i> <span class="left"></span></span>
					        <span class="carousel-btn right-btn"><span class="right"></span> <i class="flaticon-right-arrow-1 right"></i></span>
					    </div><!-- /.carousel-btn-block banner-carousel-btn -->
					</div><!-- /.main-banner-wrapper -->
				</div>
			</div>
		</div>
		<div class="container home_iconbox_container">
			<div style="width: 80%;  margin: 0 auto;">
				<div class="col-lg-12 text-center">
					<div class="row">
						<div class="col-sm-6 col-lg-3">
							<div class="home_icon_box">
								<div class="icon"><img src="{% static 'images/home/hicon1.png' %}" alt="hicon1.png"></div>
								<p>Learn From The Experts</p>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="home_icon_box">
								<div class="icon mt15"><img src="{% static 'images/home/hicon2.png' %}" alt="hicon2.png"></div>
								<p>Book Library & Store</p>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="home_icon_box">
								<div class="icon"><img src="{% static 'images/home/hicon3.png' %}" alt="hicon3.png"></div>
								<p>Worldwide Recognize</p>
							</div>
						</div>
						<div class="col-sm-6 col-lg-3">
							<div class="home_icon_box">
								<div class="icon"><img src="{% static 'images/home/hicon4.png' %}" alt="hicon4.png"></div>
								<p>Best Industry Leaders</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- School Category Courses -->
	<section id="our-courses" class="our-courses pt90 pt650-992">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<a href="#our-courses">
				    	<div class="mouse_scroll">
			        		<div class="icon"><span class="flaticon-download-arrow"></span></div>
				    	</div>
				    </a>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h3 class="mt0">VIRTUAL CLASSROOM AND LMS </h3>
						<h5><p>LMS is an Audio/Video virtual classroom solution for the institutes. It provides the better environment for the teachers and students to deliver and attend online classes. Users can share screen and files respectively</p><br>
						<p>With a modern, intuitive, fully responsive interface, Digital LMS delivers a simpler, more powerful teaching and learning experience that goes beyond the traditional learning management system (LMS).</p><br>
						<p>Excite educators and learners with seamless, deeply integrated Powerful tools, and workflows that help learners and instructors stay organized, easily take action, and engage with content and each other.</p>
						</h5><br>

						
					</div>
				</div>
			</div>
			<video width="100%" controls>
				<source src="{% static 'images/lms.mp4' %}" type="video/mp4">
				
			  </video> 
			<div class="row">
			
				{% for i in data %}
				<div class="col-sm-6 col-lg-3">
					<div class="img_hvr_box" style="background-image: url( '/upload/{{i.catimage}}');">
						<div class="overlay">
							<div class="details">
								<h5>{{i.cattitle}}</h5>
								<p>Over 900 Courses</p>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
				<div class="col-lg-6 offset-lg-3">
					<div class="courses_all_btn text-center">
						<!-- <a class="btn btn-transparent" href="#">View All Courses</a> -->
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Divider -->
	<section class="divider_home1 bg-img2 parallax" data-stellar-background-ratio="0.3">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="divider-one">
						<p class="color-white">STARTING ONLINE LEARNING</p>
						<h1 class="color-white text-uppercase">Enhance your skIlls wIth best OnlIne courses</h1>
						<a class="btn btn-transparent divider-btn" href="#">Get Started Now</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Top Courses -->
	<section id="top-courses" class="top-courses pb30">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h3 class="mt0">LEARNING MANAGEMENT SYSTEM</h3>
						<h5>It facilitates educational services related to managing data and information regarding student and teachers. Allows administration to access student information from a single source. It incorporates services like</h5>
					</div>
				</div>
			</div>
		
		</div>
	</section>

	<!-- Our Testimonials -->
	<section id="our-testimonials" class="our-testimonials">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h3 class="mt0">What People Say</h3>
						<!-- <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p> -->
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="testimonialsec">
						<ul class="tes-nav">
							<li>
								<img class="img-fluid" src="{% static 'images/testimonial/1.jpg' %}" alt="1.jpg"/>
							</li>
							<li>
								<img class="img-fluid" src="{% static 'images/testimonial/2.jpg' %}" alt="2.jpg"/>
							</li>
							<li>
								<img class="img-fluid" src="{% static 'images/testimonial/3.jpg' %}" alt="3.jpg"/>
							</li>
							<li>
								<img class="img-fluid" src="{% static 'images/testimonial/4.jpg' %}" alt="4.jpg"/>
							</li>
						</ul>
						<ul class="tes-for">
							<li>
								<div class="testimonial_item">
									<div class="details">
										<h5>Ali Tufan</h5>
										<span class="small text-thm">Client</span>
										<h5>Customization is very easy with this theme. Clean and quality design and full support for any kind of request! Great theme!</h4>
									</div>
								</div>
							</li>
							<li>
								<div class="testimonial_item">
									<div class="details">
										<h5>Ali Tufan</h5>
										<span class="small text-thm">Client</span>
										<h5>Customization is very easy with this theme. Clean and quality design and full support for any kind of request! Great theme!</h5>
									</div>
								</div>
							</li>
							<li>
								<div class="testimonial_item">
									<div class="details">
										<h5>Ali Tufan</h5>
										<span class="small text-thm">Client</span>
										<p>Customization is very easy with this theme. Clean and quality design and full support for any kind of request! Great theme!</p>
									</div>
								</div>
							</li>
							<li>
								<div class="testimonial_item">
									<div class="details">
										<h5>Ali Tufan</h5>
										<span class="small text-thm">Client</span>
										<p>Customization is very easy with this theme. Clean and quality design and full support for any kind of request! Great theme!</p>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Blog -->
	<section class="our-blog">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h3 class="mt0">MAIN FEATURES OF LMS</h3>
						<!-- <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p> -->
						<b>
						<ul>
							<li>Enrolment</li>
							<li>Course registration</li>
							<li>Grades Management</li>
							<li>Attendance Management</li>
							<li>Course Management</li>
							<li>Content Management</li>
						</ul>
					</b>
					</div>
				</div>
			</div>
		
			<div class="row mt50">
				<div class="col-lg-12">
					<div class="read_more_home text-center">
						<h3>IMPORTANCE OF LMS</h3>
						<p>The existence of Learning Management System within an institute contribute in</p>
						<b>
							<ul>
								<li>Accomplishing its goals and objectives</li>
								<li>Streamline processes and operations</li>
								<li>Assist dealing with uncertainty</li>
								<li>Adaptation to change</li>
								
							</ul>
						</b>
						<!-- <h4>Like what you see? <a href="#">See more posts<span class="flaticon-right-arrow pl10"></span></a></h4> -->
					</div>
				</div>
			</div>
		</div>
		<img class="img-fluid" src="{% static 'images/VLmS-01.jpg' %}" alt="1.png">
	</section>

	<!-- Popular Job Categories -->
	<!-- <section class="home1-divider2 parallax" data-stellar-background-ratio="0.3">
		<div class="container">
			<div class="row">
				<div class="col-md-7 col-lg-7">
					<div class="app_grid">
						<h1 class="mt0">Download & Enjoy</h1>
						<p>Access your courses anywhere, anytime & prepare<br> with practice tests.</p>
						<button class="apple_btn btn-transparent">
							<span class="icon">
								<span class="flaticon-apple"></span>
							</span>
							<span class="title">App Store</span>
							<span class="subtitle">Available now on the</span>
						</button>
						<button class="play_store_btn btn-transparent">
							<span class="icon">
								<span class="flaticon-google-play"></span>
							</span>
							<span class="title">Google Play</span>
							<span class="subtitle">Get in on</span>
						</button>
					</div>
				</div>
				<div class="col-md-5 col-lg-5">
					<div class="phone_img">
						<img class="img-fluid" src="{% static 'images/resource/phone_home.png' %}" alt="phone_home.png">
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<!-- Our Partners -->
	<section id="our-partners" class="our-partners">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3">
					<div class="main-title text-center">
						<h3 class="mt0">MAIN FEATURES</h3>
						<p>
							<h4>General Features:</h4><br>

							1.	Modern Easy to use interface. <br>
							
							2.	Personalized Dashboard.<br>
							3.	Collaborative tools and activities.<br>
							4.	All-in-one Calendar<br>
							5.	Convenient file Management<br>
							6.	Simple and intuitive text Editor.<br>
							7.	Notifications.<br>
							8.	Track Progress.<br>
							<br>
							
							<h4>Administrative Features.</h4><br>
							1.	Customizable site design and layout.<br>
							2.	Secure authentication and mass enrol<br>ment.<br>
							3.	Bulk course creation.<br>
							4.	Manage user roles and permissions.<br>
							<br>
							
							
							<h3>MODERN EASY TO USE INTERFACE</h3><br>
							<p>Designed to be responsive and accessible, the LMS interface is easy to navigate on both desktop and mobile devices.</p><br>

							<h3>PERSONALIZED DASHBOARD</h3><br>
							<p>Display current, past and future courses, along with tasks due.</p><br>

							<h3>COLLABORATIVE TOOLS AND ACTIVITIES</h3><br>
							<p>Work and learn together in forums, wikis, glossaries, database activities, and much more.</p><br>

							<h3>ALL IN ONE CALENDAR</h3><br>
							<p>Course Calendar helps you to keep track of your upcoming events and activities..</p><br>

							<h3>CONVENIENT FILE MANAGEMENT</h3><br>
							<p>Upload and download files from cloud storage services including Dropbox and Google Drive.</p><br>

							<h3>SIMPLE AND INTUITIVE TEXT EDITOR</h3><br>
							<p>Format text and conveniently add media and images with an editor that works across all web browsers and devices.</p><br>

							<h3>NOTIFICATIONS</h3><br>
							<p>When enabled, users can receive automatic alerts on new assignments and deadlines, forum posts and also send private messages to one another.</p><br>

							<h3>TRACK PROGRESS</h3><br>
							<p>Educators and learners can track progress and completion with an array of options for tracking individual activities or resources and at course level.</p><br>

							<h3>CUSTOMIZABLE SITE DESIGN AND LAYOUT</h3><br>
							<p>Easily customize a LMS theme with your logo, color schemes and much more - or simply design your own theme.</p><br>

							<h3>SECURE AUTHENTICATION AND MASS ENROLMENT</h3><br>
							<p>Over 50 authentication and enrolment options to add and register users to your site and courses.</p><br>


							<h3>BULK COURSE CREATION AND EASY BACKUP</h3><br>
							<p>Add courses in bulk, backup and restore large courses with ease.</p><br>


							<h3>USER MANAGEMENT</h3><br>
							<p>Address security concerns by defining roles to specify and manage user access.</p><br>


							<h3>DETAILED REPORTING AND LOGS</h3><br>
							<p>View and generate reports on activity and participation at course and site level.</p><br>


							<h3>DIRECT LEARNING PATH</h3><br>
							<p>Design and manage courses to meet various requirements. Classes can be instructor-led, self-paced, blended or entirely online.</p><br>


							<h3>ENCOURAGE COLLABORATION</h3><br>
							<p>Built-in collaborative publishing features foster engagement and encourage content-driven collaboration</p><br>

							<h3>MULTIMEDIA INTEGRATION</h3><br>
							<p>LMS built-in media support enables you to easily search for and insert video and audio files in your courses.</p><br>

							<h3>MARKING WORKFLOW</h3><br>
							<p>Conveniently assign different markers to assignments, manage grade moderation and control when marks are released to individual learners</p><br>

							<h3>INLINE MARKING</h3><br>
							<p>Easily review and provide in-line feedback by annotating files directly within browser.</p><br>

							<h3>PEER AND SELF-ASSESSMENT</h3><br>
							<p>Built-in activities such as workshops and surveys encourages learners to view, grade and assess their own and other course members' work as a group.</p><br>

							<h3>OUTCOMES AND RUBRICS</h3><br>
							<p>Select from advanced grading methods to tailor the gradebook to your course and examination criteria.</p><br>

							<h3>COMPETENCY BASED MARKING</h3><br>
							<p>Set up competencies with personal learning plans across courses and activities.</p><br>

							<h2>TOOLS AND TECHNOLOGIES</h2><br>
							<p>LMS is motivated to introduce solutions that developed using the latest technological and tools. "Security for everyone” is the vision that drives LMS to develop easy and accessible enterprise solutions. Our proposed solution is a composition of Web Application, Web API (where required) and central integrated database.</p>

							<h1>Website Options Quick Glimpses</h1><br>

							<h4>Admin Panel</h4><br>
							

								<h4>Branch Panel</h4><br>
							
							<h4>University Panel</h4><br>

							<h4>Faculty Panel</h4><br>

							<h4>Student Panel</h4><br>

							<h5>Students are the backbone and core members of educational system. Implementing latest technological tools not only bring more value to the institute but help manage student and teacher related information more effectively and efficiently<br>
								With a modern, intuitive, fully responsive interface, Digital LMS delivers a simpler, more powerful teaching and learning experience that goes beyond the traditional learning management system (LMS).
							</h5><br>
							
							





								




							
						
					</div>
				</div>
			</div>
			<div class="row text-center">

				<div class="col-md-6">

			<h3>MODERN EASY TO USE INTERFACE AND RESPONSIVE</h3>

			<img class="img-fluid" src="{% static 'images/1.jpg' %}" alt="1.png"><br>
		</div>

		<div class="col-md-6">

			<h3>COLLABORATIVE TOOLS AND ACTIVITIES</h3>

			<img class="img-fluid" src="{% static 'images/2.jpg' %}" alt="1.png"><br>

		</div>
		</div><br>

		<div class="row text-center">

			<div class="col-md-6">

			<h3>CONVENIENT FILE MANAGEMENT</h3>

			<img class="img-fluid" src="{% static 'images/3.png' %}" alt="1.png"><br>

		</div>

		<div class="col-md-6">


			<h3>SIMPLE AND INTUITIVE TEXT EDITOR</h3>

			<img class="img-fluid" src="{% static 'images/4.jpg' %}" alt="1.png"><br>

		</div>
	</div><br>

	<div class="row text-center">

		<div class="col-md-6">


			<h3>NOTIFICATIONS</h3>

			<img class="img-fluid" src="{% static 'images/5.jpg' %}" alt="1.png"><br>

		</div>

		<div class="col-md-6">


			<h3>TRACK PROGRESS</h3>

			<img class="img-fluid" src="{% static 'images/6.jpg' %}" alt="1.png"><br>
		</div>
	</div><br>

	<div class="row text-center">

		<div class="col-md-6">


			<h3>SECURE AUTHENTICATION AND MASS ENROLMENT</h3>

			<img class="img-fluid" src="{% static 'images/7.jpg' %}" alt="1.png"><br>

		</div>

		<div class="col-md-6">

			<h3>DIRECT LEARNING PATH</h3>

			<img class="img-fluid" src="{% static 'images/8.jpg' %}" alt="1.png"><br>

		</div>
	</div><br>

	<div class="row text-center">

		<div class="col-md-6">

			<h3>DISCUSSION FORUM</h3>

			<img class="img-fluid" src="{% static 'images/9.jpg' %}" alt="1.png"><br>

		</div>

		<div class="col-md-6">

			<h3>MARKING WORKFLOW</h3>

			<img class="img-fluid" src="{% static 'images/10.png' %}" alt="1.png"><br>

		</div>
	</div><br>

	<div class="row text-center">

		<div class="col-md-6">


			<h3>PEER AND SELF-ASSESSMENT</h3>

			<img class="img-fluid" src="{% static 'images/11.jpg' %}" alt="1.png"><br>

		</div>

		<div class="col-md-6">

			<h3>OUTCOMES, RUBRICS &COMPETENCY BASED MARKING</h3>

		
	

			<img class="img-fluid" src="{% static 'images/12.png' %}" alt="1.png"><br>

		</div>
	</div><br>
			<div class="row">
				<div class="col-sm-6 col-md-4 col-lg">
					<div class="our_partner">
						<img class="img-fluid" src="{% static 'images/partners/1.png' %}" alt="1.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg">
					<div class="our_partner">
						<img class="img-fluid" src="{% static 'images/partners/2.png' %}" alt="2.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg">
					<div class="our_partner">
						<img class="img-fluid" src="{% static 'images/partners/3.png' %}" alt="3.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg">
					<div class="our_partner">
						<img class="img-fluid" src="{% static 'images/partners/4.png' %}" alt="4.png">
					</div>
				</div>
				<div class="col-sm-6 col-md-4 col-lg">
					<div class="our_partner">
						<img class="img-fluid" src="{% static 'images/partners/5.png' %}" alt="5.png">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Our Newslatters -->
	
<!-- forget Password -->
<!-- The Modal -->
<div class="modal" id="forgetpwd">
	<div class="modal-dialog">
	  <div class="modal-content">
  
		<!-- Modal Header -->
		<div class="modal-header">
		  <h4 class="modal-title">Modal Heading</h4>
		  <button type="button" class="close" data-dismiss="modal">&times;</button>
		</div>
  
		<!-- Modal body -->
		<div class="modal-body">
		  <div class="forget-password">
				<input type="email" id="forgetpass" placeholder="Enter Email" class="form-control">
		  </div>
		<div class="forget-message" style="display:none">message</div>
		</div>
  
		<!-- Modal footer -->
		<div class="modal-footer">
		  <button type="button" class="btn btn-info" data-dismiss="modal" id="forget">Forget</button>
		  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		</div>
  
	  </div>
	</div>
  </div>
<!-- forget Password end -->
	{% block footer %}
 {% include 'footer.html' %}
 {% endblock  %}
 {% block message%}
 <script>
 $('#forget').click(function(){
	 var emailid=$('#forgetpass').val();
	 $.ajax({
		 url:'faculty/forgetrequest',
		 type:'GET',
		 data:{
			 'email':emailid
		 },
		 success: function(data){
			 alert(data)
		 }


	 })
 });
 </script>
 {% endblock%}
	


</body>
</html>
<script>
{% if thank %}

alert('{{msg}}')
{% else %}
{% endif %}

</script>