{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- css file -->
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/dashbord_navitaion.css">
<!-- Responsive stylesheet -->
<link rel="stylesheet" href="css/responsive.css">

<!-- Datatable -->
<!-- <link rel="stylesheet" type="text/css" href="css/dataTables.bootstrap.min.css"> -->
<!-- Title -->
<title>Digital Learning System</title>
<!-- Favicon -->
<link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" type="image/x-icon" />
<link href="images/favicon.ico" sizes="128x128" rel="shortcut icon" />
</head>
<body>
<div class="wrapper">
	<!-- <div class="preloader"></div> -->

	<!-- Main Header Nav -->
	<header class="header-nav menu_style_home_one dashbord_pages navbar-scrolltofixed stricky main-menu">
		<div class="container-fluid">
		    <!-- Ace Responsive Menu -->
		    <nav>
		        <!-- Menu Toggle btn-->
		        <div class="menu-toggle">
		            <img class="nav_logo_img img-fluid" src="{% static '' %}images/sohaillogo.png" alt="header-logo.png">
		            <button type="button" id="menu-btn">
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		                <span class="icon-bar"></span>
		            </button>
		        </div>
		         <a href="/branch/" class="navbar_brand float-left dn-smd">
		            <img class="logo1 img-fluid" src="{% static '' %}images/sohaillogo.png" alt="header-logo.png" style="height: 80px;">
		            <img class="logo2 img-fluid" src="{% static '' %}images/sohaillogo.png" alt="header-logo.png" style="height: 80px;">
		            {% comment %} <span>Digital Learning System</span> {% endcomment %}
		        </a> 
		        <!-- Responsive Menu Structure-->
		        <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
		        
		        <ul class="header_user_notif pull-right dn-smd">
	             
	             
	                <li class="user_setting">
						<div class="dropdown">
					
	                		<a class="btn dropdown-toggle" href="#" data-toggle="dropdown">
							{% if not request.session.Uniimage %}
							<img class="rounded-circle" src="https://1.bp.blogspot.com/--ucL-rXn-Ec/VLwta4arOvI/AAAAAAAABHU/LzjxpJ_cA-g/s1600/wallpaper-for-facebook-profile-photo-738967.jpg"  alt="e1.png" style="height:50px">
							{% else %}
							<img class="rounded-circle" src="/upload/{{request.session.Uniimage}}"  alt="e1.png" style="height:50px">
							{% endif %}
							
							
							</a>
						    <div class="dropdown-menu">
						    	<div class="user_set_header">
								  
						    		<img class="float-left" src="/upload/{{request.session.Uniimage}}" alt="e1.png" style="height:80px">
							    	<p>{{ request.session.Uniname }}</p>
						    	</div>
						    	<div class="user_setting_content">
									<a class="dropdown-item active" href="profile">My Profile</a>
									
									<a class="dropdown-item" onclick="logout()" href="javascript:void(0)">Log out</a>
						    	</div>
						    </div>
						</div>
			        </li>
	            </ul>
		    </nav>
		</div>
	</header>

	<!-- Main Header Nav For Mobile -->
	<div id="page" class="stylehome1 h0">
		<div class="mobile-menu">
	        <ul class="header_user_notif dashbord_pages_mobile_version pull-right">
              
                <li class="user_setting">
					<div class="dropdown">
                		<a class="btn dropdown-toggle" href="#" data-toggle="dropdown"><img class="rounded-circle" src="/upload/{{request.session.Uniimage}}" alt="e1.png"></a>
					    <div class="dropdown-menu">
					    	<div class="user_set_header">
					    		<img class="float-left" src="/upload/{{request.session.Uniimage}}" alt="e1.png">
						    	
					    	</div>
					    	<div class="user_setting_content">
								<a class="dropdown-item active" href="profile">My Profile</a>
								
								<a class="dropdown-item" href="javascript:void(0)" onclick="logout()">Log out</a>
					    	</div>
					    </div>
					</div>
		        </li>
            </ul>
			<div class="header stylehome1 dashbord_mobile_logo dashbord_pages">
				<div class="main_logo_home2">
		            <img class="nav_logo_img img-fluid float-left mt20" style="width:200px" src="{% static '' %}images/sohaillogo.png" alt="header-logo.png">
		            <span>Digital Learning System</span>
				</div>
				
			</div>
		</div><!-- /.mobile-menu -->
		
	</div>

	<!-- Our Dashbord Sidebar -->
	<section class="dashboard_sidebar dn-1199">
		<div class="dashboard_sidebars">
			<div class="user_board">
				<div class="user_profile">
					<div class="media">
					  	<div class="media-body">
					    	<h4 class="mt-0">Start</h4>
						</div>
					</div>
				</div>
				<div class="dashbord_nav_list">
					<ul>
						<li class=""><a href="/branch/"><span class="flaticon-puzzle-1"></span> Home</a></li>
						<li class=""><a href="universitybranch"><span class="flaticon-puzzle-1"></span> Add Branch</a></li>
						
						
					</ul>
					<h4>Account</h4>
					<ul>
						<li><a href="profileshow"><span class="flaticon-settings"></span> Settings</a></li>
						<li><a href="javascript:void(0)" onclick="logout()"><span class="flaticon-logout"></span> Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
